---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUNBJPJAN18
matching-id: 20170116144400
label-name: Bon Jovi Presale
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/bon-jovi.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Bon Jovi's This House is Not for Sale Tour is coming to the Vivint Smart Home Arena in March.
        And at America First, we’re giving you the chance to buy your tickets before they're available to the public!
      </p>

      <p>
        Our presale starts on <strong>Thursday, January 18 at 10 a.m.</strong> and goes until 10 p.m. that evening.
      </p>

      <p>
        This is just one of many opportunities to get admission to the coolest concerts before anyone else—just for being a member of America First.
      </p>

      <p>
        Click the link below & enter the code <strong>AFCU</strong> for the best seats in the house. And have a nice day!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.ticketmaster.com/event/1E00537DEFA82297?dma_id=378&CAMEFROM=CFC_VSHA_AFCU_PRESALE#efeat4211" target="_blank">LIVIN' ON A PRESALE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
