---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-business101seminar-afcu-bus-com-2018129
cid2: em-elk-business101seminar-afcu-bus-com-2018129
matching-id: 20180129114400
label-name: Business Plans 101 Seminar
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/business-plans-101.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Join us on <strong>Thursday, February 6 from 12 to 1:30 p.m.</strong> at our Ogden Main branch (3650 Wall Avenue) for a free educational seminar that will give you the tools to create a successful business plan.
      </p>

      <p>
        Carlos Linares, director of Weber State University's Small Business Development Center, will be there to discuss the following essential topics:
      </p>

      <ul>
        <li>How to begin writing</li>
        <li>Key elements to include</li>
        <li>Understanding financial statistics & projections</li>
      </ul>

      <p>
        We'll provide a light lunch and there is no cost to attend, but seating is limited. Please RSVP today on the
        <a href="https://news.americafirst.com/calendar-events/business-plans-101-seminar/?cid={{cid}}" target="_blank">Events &amp; Seminars</a>
        page, visit the location listed below, or call (801) 827-8809.
      </p>

      <p class="text-center">
        <strong><em>Business Plans 101</strong><br>
          Thursday, February 6, noon - 1:30 p.m.<br> 3650 Wall Avenue, Ogden, UT 84405</em>
        </p>

        <spacer size="35"></spacer>

        <center>
          <button class="success radius" href="https://news.americafirst.com/calendar-events/business-plans-101-seminar/?cid={{cid2}}" target="_blank">RSVP</button>
        </center>
      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
