---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUNDGJAN18
matching-id: 20170129141300
label-name: Disneyland Giveaway
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/disneyland-giveaway.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Would you like to escape the cold weather and head to the happiest place on earth? America First is sending one lucky winner on a Disneyland vacation that includes:
      </p>

      <ul>
        <li>A pair of adult two-day Park Hopper passes</li>
        <li>A four-day/three-night hotel stay in Anaheim</li>
        <li>Fun memories for years to come</li>
      </ul>

      <p>
        Enter today by clicking the button below or find the America First contest link on Facebook, Twitter & Instagram.
      </p>

      <p>
        But hurry, because our sweepstakes* will end on February 7!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="http://woobox.com/qe26u6" target="_blank">WISH UPON A STAR</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Eligibility & conditions apply. See <a href="https://woobox.com/offers/rules/qe26u6" target="_blank"> official rules</a> for details.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
