---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUNEPJAN18
matching-id: 20170109131300
label-name: Eagles Pre-sale
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/eagles-presale.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        This May, you can enjoy a peaceful, easy feeling when the Eagles come to the Vivint Smart Home Arena. And America First Credit Union is giving you the chance to buy your tickets before they're available to the public!
      </p>

      <p>
        Our advance sales opportunity is on <strong>Thursday, January 11 from 10 a.m. to 10 p.m.</strong>
      </p>

      <p>
        It’s just one of many exclusive occasions where members can secure admission to some of the coolest concerts before anyone else.
      </p>

      <p>
        Click the link below and enter the promotion code <strong>AFCU</strong> for the best seats in the house!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www1.ticketmaster.com/event/1E005393A3C21574?CAMEFROM=CFC_VSHA_AFCU_PRESALE" target="_blank">GET MY TICKETS</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
