---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-hyrum_free-chk-afcu-svc-us-2018105
matching-id: 20170104105200
label-name: Hyrum Free Checking
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/free-checking-header.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        At America First, we know you shouldn't pay for access to your own money. That's why free checking accounts come with no monthly
         fees, no low-balance fees, and unlimited transactions. Plus, you'll earn competitive dividends on deposits.
      </p>

      <p>
        If that weren't enough, America First checking also comes with:
      </p>

      <ul>
        <li><strong>Free ABC Deals<sup>&trade;</sup></strong> - cash back for using Visa<sup>&reg;</sup> cards</li>
        <li><strong>Free EMV protection</strong> - chip-enabled security</li>
        <li><strong>Free Card Guard<sup>&reg;</sup></strong> - additional control over purchases</li>
        <li><strong>Free Money Manager</strong> - online budget tracking tools</li>
      </ul>

      <p>
        It's easy to see why it pays to get free America First checking. Stop by your local branch or click the link below and open your account today.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://wwwapps.americafirst.com/applications/member/index.cfm?productType=checking&cid={{cid}}" target="_blank">I WANT FREE CHECKING</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
