---
first-name: <%=recipient.firstName%>
layout: informational-layout
cid: EMUNTFJAN18
matching-id: 20170119164500
label-name: Tax Forms 2017
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Your official 2017 Internal Revenue Service tax forms are now available. You can view them by clicking the Statements and Tax Information link under the Account Summary tab after logging in to free online banking.
      </p>

      <p>
        If you receive paper statements, these documents are being mailed to you separately from your account information.
      </p>

      <p>
        Please note that, per IRS guidelines, Forms 1099-INT and 1099-R are only issued when the aggregate amount is $10 or more for each taxpayer, per year.
      </p>

      <p>
        If amounts are reported in Box 2 (early-withdrawal penalty) or Box 4 (federal income tax withheld), a form will be issued regardless.
      </p>

      <p>
        For details, visit <a href="https://www.americafirst.com/services/online-services/online-statements.html" target="_blank">americafirst.com</a> or call 1-800-999-3961.
      </p>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
