---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: test-cid-test
matching-id: 20171025111100
label-name: Plain City Opening
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/grand-opening.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Another America First Credit Union location is coming to your community! We’re
        celebrating the grand opening of our new branch inside the Kent's Market in Plain
        City, November 1 - 10.
      </p>

      <p>
        We'll be doing daily drawings for $100 Visa<sup>®</sup> gift cards and we'll be giving away:
      </p>

      <ul>
        <li>$25 Kent's gift card for each new account*</li>
        <li>One Apple Watch Sport</li>
        <li>Other great America First prizes</li>
      </ul>

      <p>
        Be sure to check out the unique design and layout of America First at 3673
        West 2600 North in Plain City. We’re available at extended hours, 9 a.m. to 7 p.m.,
        Monday through Saturday.
      </p>

      <spacer size="35"></spacer>

      <p>
        <sup>*Must include new checking and savings accounts. Terms & eligibility
          apply. Must be 18 or older to enter drawings and contests.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
