---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-elk-speakyourbrandseminar-afcu-o-com-20171030
cid2: em-btn-speakyourbrandseminar-afcu-o-com-20171030
matching-id: 20171031145000
label-name: Speak Your Brand Seminar
---


<container>

  <spacer size="35"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/speaking-your-brand-03.jpg"/>
      </center>
      <spacer size="45"></spacer>


      <p>
        As a business owner, you know how important the image you present to others can be—but nearly 70% of professionals don't consider themselves strong speakers. You can learn how to counter this trend and become the voice of your brand at our free communication seminar.
      </p>

      <p>
        Matthew Garner, owner of Longboard Public Relations, will host an informative
        discussion regarding how speaking effectively is essential for any company executive.
        Join us on <strong>Tuesday, November 14 from noon to 1:30 p.m.</strong> at our Ogden Main branch (3650 Wall Avenue).
      </p>

      <p>
        We'll discuss:
      </p>

      <ul>
        <li>Defining your target audience</li>
        <li>Effectively communicating your message</li>
        <li>Remaining comfortable in front of a crowd</li>
        <li>Displaying confidence during presentations</li>
      </ul>

      <p>
        Light refreshments are available and there is no cost, but seating is limited. Please RSVP today on the
        <a href="https://news.americafirst.com/calendar-events/speaking-brand-seminar/?cid={{cid}}">Events &amp; Seminars</a>
        page, visit the location listed below, or call (801) 827-8809.
      </p>

      <p class="text-center">
        <strong><em>Speaking Your Brand</strong><br>
          Tuesday, November 14, 12 - 1:30 p.m.<br> 3650 Wall Avenue, Ogden, UT 84403</em>
        </p>

        <spacer size="35"></spacer>

        <center>
          <button class="success radius" href="https://news.americafirst.com/calendar-events/speaking-brand-seminar/?cid={{cid2}}">RSVP</button>
        </center>
      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
