---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-elk-ssseminar-laytonheritage-afcu-o-com-20171016
cid2: em-btn-ssseminar-laytonheritage-afcu-o-com-20171016
matching-id: 20171016115800
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/social-security-seminar.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        You're invited to a free educational seminar that will teach you successful Social Security benefit management.
      </p>

      <p>
        Join us on <strong>Thursday, October 26 from 6:30 to 7:30 p.m.</strong> at our Layton Heritage branch (425 West Heritage Park Boulevard).
      </p>

      <p>
        An advisor from America First Financial Solutions will provide expert guidance and answers to the following questions:
      </p>

      <ul>
        <li>At what age should I start collecting Social Security?</li>
        <li>What are spousal benefits and who qualifies for them?</li>
        <li>What are survivor benefits?</li>
        <li>How is Social Security taxed?</li>
        <li>Is Social Security enough for retirement?</li>
        <li>How can I fill the income gap?</li>
      </ul>

      <p>
        Light refreshments are available and there is no cost to attend, but seating is limited. Please RSVP today at the
        <a href="https://news.americafirst.com/calendar-events/make-social-security-seminar-6/?cid={{cid}}">Events &amp; Seminars</a>
        page, visit the location listed below, or call (801) 827-8809.
      </p>

      <p class="text-center">
        <strong><em>How to Make the Most of Social Security</strong><br>
          Thursday, October 26, 6:30 to 7:30 p.m.<br> 425 West Heritage Park
          Boulevard, Layton, UT 84041</em>
        </p>

        <spacer size="35"></spacer>

        <center>
          <button class="success radius" href="https://news.americafirst.com/calendar-events/make-social-security-seminar-6/?cid={{cid2}}">RSVP</button>
        </center>
      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
