---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-visadebitreissue-afcu-v-svc-20171027
cid2: em-elk-visadebitreissue02-afcu-v-svc-20171027
cid3: em-elk-visadebitreissue03-afcu-v-svc-20171027
matching-id: 20171019121500
label-name: Visa Debit EMV
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/card-security.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Much like putting on a warm jacket for colder weather, we're adding an extra
        layer of security to your America First Visa<sup>®</sup> debit card.
      </p>

      <p>
        All members will benefit from <a href="https://www.americafirst.com/visa/visa-emv-chip.html?cid={{cid3}}" target="_blank">EMV chip protection</a>
        on their new cards. This technology makes it even more difficult for criminals to steal your information and it's just another
        way America First is working to keep your money safe. Plus, as another safeguard, your old
        debit card will cease to function 30 days after we issue the new one.
      </p>

      <p>
        And since you'll be receiving another card shortly, now's the perfect time to
        make it uniquely yours with free Picture Perfect<sup>™</sup> customization.
      </p>

      <p>
        It's simple:
      </p>

      <ol>
        <li>Sign in to online banking and click the Other Services tab</li>
        <li>Under Additional Services, select Personalize Your Visa Debit Card</li>
        <li>Upload your photo &amp; place it how you wish</li>
      </ol>

      <p>
        Go to <a href="https://www.americafirst.com?cid={{cid2}}" target="_blank">americafirst.com</a> to make sure
        your address &amp; other information is current and design your new chip-enabled Visa today!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/visa/visa-picture-perfect.html?cid={{cid}}">DESIGN MY DEBIT CARD</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
