---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-cb-weddingaccounts-afcu-bus-us-20171004
matching-id: 20171004141100
label-name: Wedding Accounts
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/wedding-banner-02.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Marriage is one of life’s most anticipated events. And we have the perfect
        choice for couples hoping to receive the gift they really want—cash.
      </p>

      <p>
        Open a free wedding account at America First, where friends, family &
        guests can make deposits. Then use that money to make a down payment on
        your first home, pay student loans, fund your honeymoon, or for any
        newlywed financial need.
      </p>

      <p>
        Celebrate your biggest day by taking advantage of free America First wedding accounts.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/accounts/savings-accounts/wedding-savings.html?cid={{cid}}">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
