---
first-name: <%= recipient.firstName %>
layout: unscheduled-email-layout
cid: em-elk-ebillredemption-afcu-svc-svc-20171002
matching-id: 20171002151200
redemption-code: <%= targetData.Code_1 %>
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/gift-card.jpg"/>
      </center>
      <spacer size="10"></spacer>

      <h2 class="text-center">Here’s your reward for using eBills from America First!</h2>

      <spacer size="20"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Thank you for taking advantage of free eBills from America First!
      </p>

      <p>
        Enter the redemption code below in the Restaurant.com mobile app or go to <a href="http://dine.restaurant.com">dine.restaurant.com</a> to redeem your reward:
      </p>

      <p>
        {{redemption-code}}
      </p>

      <P>
        <strong>It’s easy to use a gift certificate from Restaurant.com:</strong>
      </P>

      <ul>
        <li>Enter your zip code.</li>
        <li>Select the establishment you want to visit.</li>
        <li>Display the restaurant-specific certificate on your mobile device or print a copy when you’re ready to use it.</li>
        <li>Enjoy your experience!</li>
      </ul>

      <p>
        If you have problems with your $25 eGift, please call 1-800-979-8985 or send an email to <a href="mailto:questions@restaurant.com"> questions@restaurant.com</a>.
      </p>

      <spacer size="35"></spacer>

      <p>
        <sup>Redeem on the Restaurant.com mobile app or online at
          <a href="http://dine.restaurant.com">dine.restaurant.com</a> before
          use. Unredeemed gift certificates cannot be applied to purchases at
          merchants. Limited to one (1) certificate per restaurant visit.
          Minimum spending requirements and online merchant web sites vary and
          are subject to change.</sup>
      </p>

      <p>
        <sup>Other restrictions may apply. Log on to
        <a href="http://dine.restaurant.com">dine.restaurant.com</a> for
        complete terms, conditions, and participating restaurants.
        Resaurant.com is a trademark of Restaurant.com. All rights reserved.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
