---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: emb-btn-fooddrive-afcu-o-svc-2017915
---

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://assets.americafirst.com/images/banners/email/food-drive-2017-03.jpg" />
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Help us make a difference in our communities by donating to your local food bank. There are collection boxes at all America First branches
        and we'll be accepting non-perishable food until Saturday, October 21.
      </p>

      <p>
        Some of the most needed staples are:
      </p>

      <ul>
        <li>Peanut butter</li>
        <li>Macaroni &amp; cheese</li>
        <li>Canned meats (tuna, chicken and beef)</li>
        <li>Canned fruits</li>
        <li>Boxed meals</li>
        <li>Chili</li>
      </ul>

      <p>
        Plus, every donated item gets you an entry in our drawing for an Apple Watch!
      </p>

      <p>
        Visit <a href="https://www.americafirst.com/about/contact/branches.html?cid={{cid}}"><strong>americafirst.com</strong></a> today to find the location closest to you.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/about/contact/branches.html?cid={{cid}}">FIND A BRANCH</button>
      </center>

      <spacer size="35"></spacer>

    </columns>
  </row>

</container>
