---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: emb-btn-hertz-afcu-ln-ac-20170912
---
<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://assets.americafirst.com/images/banners/email/hertz-sept-2017.jpg" alt="Hertz Auto Sale" />
      </center>

      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        The change in seasons is on the horizon, but the days &amp; deals of summer are still sizzling at the annual Hertz &amp; America First September sales event.
      </p>

      <p>
        Visit Hertz in Ogden (2805 Washington Boulevard) and Layton (1573 Main Street) on September 15 &amp; 16 for the top savings of the year.
      </p>

      <p>
        We’re offering loan rates* as low as <strong>1.99% APR</strong> and <strong>no payments for 90 days</strong>. Hertz is providing Yeti 65 coolers with
        every purchase, as well as deep discounts and special member pricing.
      </p>

      <p>
        Join us for free popcorn &amp; drinks and stop by the trucks from World’s Best Corndogs that will be at both locations.
      </p>

      <p>
        Preapprove your America First financing <a href="https://www.americafirst.com/loans/vehicle-loans/auto-loans.cfm?cid={{cid}}"
        target="_blank"><strong> online</strong></a> and make plans to be at Hertz on September 15 &amp; 16. Hours are from 9 a.m.
        to 8 p.m. on Friday and between 9 a.m. and 7 p.m., Saturday.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="http://www.hertzhasit.com/">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Annual percentage rate, on approved credit, subject to change. Available on 36-month terms only for 2015 and newer vehicles. See dealer
            for purchase details. Equal Opportunity Lender.</sup>
      </p>

    </columns>
  </row>

</container>
