---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: emb-btn-ic-afcu-o-ac-2017916
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/ic-ticket-giveaway.jpg "/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Explore our cutting-edge Innovation Center—a collaborative hub with
        the latest tools to help you achieve financial health—and have the
        chance to win some high-tech of your own.
      </p>

      <p>
        Check out the educational & interactive experiences inside City Creek
        at 50 South Main Street, east of the fountain, and you’ll have a chance to take
        home your choice of:
      </p>

      <ul>
        <li>Apple iPad</li>
        <li>Apple Watch Series 2</li>
        <li>Samsung Galaxy Gear S3 or</li>
        <li>$500 America First Visa<sup>®</sup> gift card</li>
      </ul>

      <p>
      Plus, you’ll get extra entries for using our state-of-the-art platforms—including
      self-serve stations, remote experts & video learning—and help shape the
      future of your credit union by providing feedback about your experience.
      </p>

      <p>
      Use the button below to print your ticket to the America First Innovation Center. Then stop by 50 South Main Street, Suite 176A, in
      Salt Lake City. Our team will be there to meet your complete financial
      needs from 10 a.m. to 9 p.m., Monday through Saturday.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/content/dam/emails/explore-win.pdf?cid={{cid}}">PRINT YOUR TICKET</button>
      </center>

      <spacer size="35"></spacer>

      <p class="text-center" style="line-height:1">
        <sup>*Terms, conditions & eligibility apply. Individuals 18 and older
          can enter drawings and contests. No purchase necessary.  Prize max
          value of $500. Promotion ends September 30, 2017.</sup>
      </p>

    </columns>
  </row>

</container>
