---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: test-cid-test
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://trello-attachments.s3.amazonaws.com/56745bdaf75f06a33dd57986/599c578ec3ca2eca92fd4fc8/b98994de5b9e1bf8edb66006a89326b4/Estate_Ebanner2.jpg" alt="Hertz Auto Sale" />
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Ensure your assets will be distributed according to your wishes by attending our free educational seminar about estate planning.
      </p>

      <p>
        Natalie Spiwak, president of Affinity Trusts, will be at your local branch on <strong>Thursday, September 21</strong> to discuss:
      </p>

      <ul>
        <li>Avoiding the pitfalls of joint ownership</li>
        <li>Choosing who makes medical decisions on your behalf</li>
        <li>Nominating guardians & providing for minors</li>
        <li>Distributing assets</li>
        <li>Establishing a living trust to avoid probate</li>
      </ul>

      <p>
        Refreshments will be provided & there is no cost to attend, but RSVPs are needed. Go to our
        <a href="https://news.americafirst.com/calendar-events/living-trusts-estate-planning-seminar/?cid=EMUNLTEP-01SEP17"
        style="color:#3f9cca;text-decoration: none;"target="_blank"><b>Events & Seminars</b></a> page, visit the location listed below,
        or call <b>(801) 827-8809</b>.
     </p>

      <p>
        We look forward to seeing you there.
      </p>

      <p class="text-center">
        <strong><em>Living Trusts & Estate Planning</strong><br> Thursday, September 21, 6:30 to 7:30 p.m.<br> 3650 Wall Avenue, Ogden, UT 84403
          <br> Seating is limited.</em>
        </p>

        <spacer size="35"></spacer>

        <center>
          <button class="success radius" href="https://news.americafirst.com/calendar-events/living-trusts-estate-planning-seminar/?cid=EMUNLTEP-01SEP17">RSVP</button>
        </center>

        <spacer size="35"></spacer>

    </columns>
  </row>

</container>
