---
subject: Get the year’s best deals during fall’s finest sale
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: test-cid-test
---

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/murdock-sale.jpg "/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

<p>
Save significantly and enhance your lifestyle during the first-ever America
First & Murdock Auto sales event, September 20 to 23.</p>

<p>
We’re offering loan rates <strong>as low* as 1.99% APR</strong> and you’ll make
 no payments until next year. All Murdock dealerships—serving northern Utah for
 over 35 years—will have deep discounts and exclusive member pricing on their
top-quality inventory, including:
</p>

<ul>
  <li>$5,750 off the 2017 Hyundai Elantra</li>
  <li>25% sticker reduction on a 2017 Chevy Cruze</li>
</ul>

<p>
Plus, Murdock will provide lifetime oil changes with every new vehicle purchase!
</p>

<p>
Don’t miss out on these great values, only at the Murdock Auto Team in Logan,
Woods Cross, Murray & Lindon, September 20 through 23. For dealer information,
visit <a href="http://www.murdockautoteam.com/">murdockautoteam.com</a> or call
1-844-704-3548.
</p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="http://www.murdockautoteam.com/">VIEW INVENTORY</button>
      </center>

      <spacer size="35"></spacer>

<p style="line-height:1.5">
<sup>*Annual percentage rate, on approved credit, subject to change. Equal
  Opportunity Lender. See dealer for purchase incentive details, pricing, and
  vehicle information.</sup>
</p>

    </columns>
  </row>

</container>
