---
subject: Get overdraft alerts directly on your phone!
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-overdraftnotification-afcu-svc-svc-20171017
matching-id: 20171017140900
---


  <container>

    <spacer size="30"></spacer>

    <row>
      <columns>
        <center>
          <img src="https://www.americafirst.com/content/dam/emails/overdraft-alerts.jpg" />
        </center>
        <spacer size="45"></spacer>

        <h2>Hello {{first-name}},</h2>

        <p>
          If your checking account balance has reached negative levels, you'd want to know about it as soon as possible.
        </p>

        <p>
          Now you can get overdraft alerts from America First the moment they happen via text message.
        </p>

        <p>
          Don't wait! Log in to online banking today and sign up for this convenient &amp; free new service.
        </p>

        <spacer size="35"></spacer>

        <center>
          <button class="success radius" href="https://www.americafirst.com/services/online-services/e-alerts.html/?cid={{cid}}">LEARN MORE</button>
        </center>

        <spacer size="35"></spacer>

        <p>
          <sup>Must be 18 or older &amp; have a mobile number on file. Business accounts are not eligible.</sup>
        </p>

        <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
        <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

      </columns>
    </row>

  </container>
