---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: test-cid-test
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/123-sales-event.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Getting the best deal on the car of your dreams is as easy as 1∙2∙3!
      </p>

      <p>
        Presented by the Young Automotive Group, our annual fall clearance is
        just around the corner, featuring:
      </p>

          <ul>
            <li><strong><u>1</u></strong> year of free gas from Maverik</li>
            <li><strong><u>2</u></strong>.99% APR* financing at America First </li>
            <li><strong><u>3</u></strong> months without a payment, courtesy of Utah’s #1 credit union</li>
          </ul>

      <p>
        Visit any Young dealership between <strong>Thursday, October 5 and Columbus Day,
        October 9</strong> (closed on Sunday). You can choose from thousands of new &
        used vehicles, all priced with exclusive member discounts.
      </p>

      <p>
        America First has fast on-site loans, Maverik is fueling your new ride
        throughout the year, and we’ll be giving away $25 gas cards when you
        stop by any of Young’s 12 northern Utah locations.
      </p>

      <p>
        It’s your finest opportunity to save, only at the 1∙2∙3 sale, October 5 to 9.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="http://www.youngautomotive.com/123-sale.htm">VIEW INVENTORY</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Annual percentage rate as low as 2.99% on approved credit, subject to change &
          conditions. See dealer for incentive information. Vehicle details can be found at
          <a href="http://www.youngautomotive.com/">youngautomotive.com</a> or
          call (801) 663-7565.</sup>
      </p>

    </columns>
  </row>

</container>
