{{logic-tag}}
<H3>BILL PAY</H3>

<p>Avoid late fees by using free online bill pay. This convenient service enables you to set up automatic
payments for utilities, phones, and television service and more. It's a simple and secure way to make sure your bills
are always paid on time.<br><br><a href='https://www.americafirst.com/services/online-services/bill-pay.html?cid={{cid-offer16}}' target="_blank">Learn more</a></p>
{{logic-end-tag}}
