{{logic-tag}}
<h3>E-INTERACTION</H3>

<p>Be notified when certain actions and transactions take place on your account with e-Alerts from America First.
  This handy service can remind you of loan payment due dates, alert you when your paycheck is deposited, let you know when your
  checking balance dips below a certain rate and much more.<br><br><a href='https://www.americafirst.com/services/online-services/e-alerts.html?cid={{cid-offer9}}' target="_blank">Learn more</a></p>
{{logic-end-tag}}
