{{logic-tag}}
<h3>CHECKING</h3>

<p>Our checking accounts are 100% free, and come with no monthly maintenance fees, no low-balance fees,
unlimited transactions, competitive dividend rates and plenty of additional benefits. It allows you to use your money
how you wish and wherever you want.<br><br><a href='https://www.americafirst.com/accounts/checking-accounts/checking-accounts.html?cid={{cid-offer6}}' target="_blank">Learn more</a></p>
{{logic-end-tag}}
