{{logic-tag}}
<H3>HOME EQUITY</H3>

<p>Take advantage of the value you've been building with an America First home equity loan.
Then use that money to improve your home, take a vacation or fund your education. We feature competitive fixed
& variable interest rates as well as terms anywhere from five to 20 years.<br><br>
<a href='https://www.americafirst.com/loans/home-equity-loans/home-equity-loans.html?cid={{cid-offer10}}' target="_blank">Learn more</a></p>
{{logic-end-tag}}
