{{logic-tag}}
<H3>CREDIT CARD</H3>

<p>America First Visa<sup>®</sup> credit cards are some of the most widely accepted cards in the world
and come with low rates, no annual fees and the chance to earn unlimited cash back. Our Visa cards don't have any annual
fees or balance transfer fees, but they come with free identity theft recovery services and the chance to personalize your
card with your favorite picture.<br><br><a href='https://www.americafirst.com/visa/visa-platinum-card.html?cid={{cid-offer11}}' target="_blank">Learn more</a></p>
{{logic-end-tag}}
