{{logic-tag}}
<h3>SHARE SAVINGS</h3>

<p>With $1.00 in your savings account, you're entitled to all the benefits that come with being a member of America First.
But are you getting the most out of that account? Check out our rates to see how much you could earn by saving your money with us.<br><br><a href='https://www.americafirst.com/accounts/savings-accounts/share-savings.html?cid={{cid-offer4}}' target="_blank">Learn more</a></p>
{{logic-end-tag}}
