{{logic-tag}}
<h3>TIME DEPOSIT</h3>

<p>Invest in our top-tier certificates to get more from the money you deposit.
We offer a variety of low-risk, high-yield accounts to suit your financial needs, including bump,
dedicated savings, flexible, ladder & IRA options.<br><br><a href='https://www.americafirst.com/accounts/certificate-accounts.html?cid={{cid-offer1}}' target="_blank">Learn more</a></p>
{{logic-end-tag}}
