{{logic-tag}}
<h3>AUTO LOAN</h3>
<p>Thinking of buying a new car? America First is here to offer you the best auto loan available.
Our lending resources are the finest in town, and we feature low rates, flexible terms and local service you can trust.
You can even get preapproved before you even talk to a dealer.<br><br><a href='https://www.americafirst.com/loans/vehicle-loans/auto-loans.html?cid={{cid-offer7}}' target="_blank">Learn more</a></p>
{{logic-end-tag}}
