{{logic-tag}}
<h3>MONEY MARKET</h3>

<p>Money market savings and checking earn investment-level dividends and give you immediate access to your funds.
As your balance increases, your rate goes up as well, maximizing your returns. Check out our rates today.<br><br>
<a href='https://www.americafirst.com/accounts/savings-accounts/money-market-savings.html?cid={{cid-offer2}}' target="_blank">Learn more</a></p>
{{logic-end-tag}}
