{{logic-tag}}
<H3>MORTGAGE</h3>

<p>Buying a house doesn't have to be a hassle. Our simple loan approval process can get you in the house of your dreams sooner rather than later.
  Calculate your potential payment directly on our site and get preapproved so you can make an offer as quickly as possible.
  Or refinance your current mortgage for a lower rate.<br><br><a href='https://www.americafirst.com/loans/mortgage-loans/mortgage-loans.html?cid={{cid-offer8}}' target="_blank">Learn more</a></p>
{{logic-end-tag}}
