{{logic-tag}}
<H3>DIRECT DEPOSIT</H3>

<p>Save yourself some time and money by having your paychecks deposited directly into your America First account.
Your funds will arrive every pay period quickly and securely. It's easy to enroll!<br><br><a href='https://www.americafirst.com/services/other-services/direct-deposit.html?cid={{cid-offer12}}' target="_blank">Learn more</a></p>
{{logic-end-tag}}
