---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-jimmy_buffett_presale-afcu-do-com-2018404
matching-id: 20180402164700
label-name: Jimmy Buffett Presale
---

<!-- Subject: Get an early ticket to Margaritaville with our pre-sale! -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/jimmy-buffet-02.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Any true Parrothead has probably heard that Jimmy Buffet is coming to the Vivint Smart Home Arena this October. But did you know you can buy tickets before anyone else?
      </p>

      <p>
        Our exclusive pre-sale for America First members starts on <strong>Wednesday, April 4 at 10 a.m.</strong> and ends Thursday, April 5 at 10 p.m.
      </p>

      <p>
        Use the link below and enter the code <strong>AFCU</strong> to get the best seats in the house for Jimmy's 2018 'Son of a Son of a Sailor' tour.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www1.ticketmaster.com/event/1E005477A73F2FD6?CAMEFROM=CFC_VSHA_EMAIL_AFCU_PRESALE" target="_blank">PRE-SALE IN PARADISE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
