---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-online_statements-afcu-o-svc-2018404
cid2: em-elk-online_statements-afcu-o-svc-2018404
matching-id: 20180404163000
label-name: Online Statements
---

<!-- Subject: Help the planet, boost your security -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://trello-attachments.s3.amazonaws.com/56745bdaf75f06a33dd57986/5aa2bc169ca5d3753effd852/69716465c3f28040599fc40d5437fa48/18_OnlineStatements_Email.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        To celebrate Earth Day, you're invited to go paperless! Free online statements from America First arrive faster, provide more protection, and are delivered in an environmentally conscious manner.
      </p>

      <p>
        Plus, until April 30, we'll donate $1 to community organizations that plant trees for each canceled paper statement.
      </p>

      <p>
        It's easy to switch:
      </p>

      <ul>
        <li>Log in to free <a href="https://webaccess.americafirst.com/AFCU/Login.aspx?cid={{cid2}}" target="_blank">online banking</a></li>
        <li>Click Other Services</li>
        <li>Select Statement Preferences</li>
        <li>Follow the directions</li>
      </ul>

      <p>
        With online statements, you'll always have your data at hand, they can't get lost in the mail & reduce the risk of identity theft.
      </p>

      <p>
        Help the planet and your financial health by signing up today.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/services/online-services/online-statements.html?cid={{cid}}" target="_blank">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
