---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-slc_promo-afcu-v-ac-2018404
cid2: em-elk-slc_promo-afcu-v-ac-2018404
matching-id: 20180404113800
label-name: SLC Promo
---

<!-- Subject: Take home $50 when you get an America First Visa! -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://trello-attachments.s3.amazonaws.com/56745bdaf75f06a33dd57986/5a6b51a4269103366e7789fa/80e9a49da96120fff4364db4f3a78c8f/AFCU_GeoTarget_Visa_email_2018.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        For a limited time, when you sign up for free online statements and get a new Visa<sup>&reg;</sup> credit card, we'll pay your first <strong>$50* in transactions</strong>!
      </p>

      <p>
        America First also delivers:
      </p>

      <ul>
        <li>Low rates</li>
        <li>No annual or balance-transfer fees</li>
        <li>Identity theft recovery services</li>
        <li>And so much more!</li>
      </ul>

      <p>
        To claim this great offer, visit a branch in Salt Lake County or go to americafirst.com/slcvisa and enter the code <strong><u>SLCT</u></strong>.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/specials/salt-lake-county.html?cid={{cid}}" target="_blank">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Offer valid for members without current America First Visa credit cards. Must receive free online statements. Expires April 30, 2018. Cannot be combined with
          any other offer and is limited to one per member. Terms, eligibility & conditions apply. Redeemable only at Salt Lake County America First locations.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
