---
subject: Activate an eBill and get a Restaurant.com gift card
first-name: <%= targetData.FIRST_NAME %>
layout: unscheduled-email-layout
cid: em-btn-ebillinvite3-afcu-do-svc-20171212
matching-id: 20171212092200
label-name: eBill Invite 03
ebiller-name-1: <%= targetData.BILLER1 %>
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/gift-card-02.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Without a doubt, eBills make it easy to view and pay your bills in the same place. Now, you can receive a $25 <a href="http://www.Restaurant.com">Restaurant.com</a> eGift card when you activate* this service.
      </p>

      <p>
        The following are eligible for eBills:
      </p>

      <p>
        &nbsp; &nbsp; &nbsp; &nbsp;{{ebiller-name-1}}
      </p>

      <p>
        Simply log in to your account, navigate to the bill pay tab, and look for the eBills link. If you have any questions about free online bill pay, please call 1-866-224-2158.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/specials/restaurant-gift-card.html?cid-{{cid}}" target="_blank">Activate eBills</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Offer valid until 12/31/17. A $25 non-transferrable Restaurant.com
          eGift card will be emailed to the primary bill pay account holder from <a href="mailto:fulfillment@billpay.customercenter.net">
          fulfillment@billpay.customercenter.net</a> approximately 6 - 8 weeks after the end of the promotion. One gift card per account
          holder. Rules subject to change. Restaurant.com is a trademark of
          Restaurant.com. All rights reserved. Visit <a href="http://dine.restaurant.com">restaurant.com</a> for complete
          Restaurant.com terms & conditions, along with participating restaurants.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
