---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUNFS250KDEC17
matching-id: 20171214100700
label-name: Financial Services 250K
subject: Helping you pursue financial success
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/401k.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        The America First Financial Solutions program, through CUSO Financial Services, LP (CFS*), makes available a variety of insurance
        and investment products that complement those offered by the credit union.
      </p>

      <p>
        You can take advantage of a broad array of services to help you meet your personal financial objectives,
        including providing a college education to your children, generating income streams, and creating the means for a comfortable retirement.
      </p>

      <p>
        CFS Advisors at America First Financial Solutions–dedicated career professionals trained to serve credit union
        members–work with you to develop a plan that includes the following issues:
      </p>

      <ul>
        <li>401(k) rollover options</li>
        <li>Retirement savings</li>
        <li>Stocks & bonds</li>
        <li>Mutual funds</li>
        <li>Annuities</li>
        <li>Life & long-term care insurance</li>
        <li>Higher education funding</li>
      </ul>

      <p>
        For most members, achieving and maintaining financial strength is a lifetime pursuit involving education,
        performance and follow-through. Your CFS Advisor at America First Financial Solutions can help you in this important endeavor.
      </p>

      <p>
        Please call or email me directly for a no-cost, no-obligation consultation. I look forward
        to hearing from you and working toward your financial success.
      </p>

      <p>
        Sincerely,
      </p>

      <spacer size="15"></spacer>

      <p>
        Advisor’s name<br />
        CFS Advisor at America First Financial Solutions<br />
        Contact information
      </p>

      <spacer size="35"></spacer>

      <p>
        <sup>*Non-deposit investment products and services are offered through CUSO Financial Services, L.P. (CFS), a registered broker-dealer
          (member, FINRA/SIPC) and SEC registered investment advisor. Products offered through CFS are not NCUA/NCUSIF or otherwise federally
          insured, are not guarantees or obligations of the credit union, and may involve investment risk, including possible loss of principal.
          Investment representatives are registered through CFS. The credit union has contracted with CFS to make non-deposit investment products
          and services available to members. #134866</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
