---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-hertz_sale-afcu-o-com-20171222
matching-id: 20171221154900
label-name: Hertz Sale
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/hertz-dec-2017.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Keep the holiday celebration going &amp; get the year’s best vehicle values at our special Hertz Car Sales event, December 26 to 30.
      </p>

      <p>
        You’ll make no payments for 90 days when you take advantage of America First financing! Plus, we’re offering exceptional loan rates
        <strong>as low* as 2.49% APR</strong>, while Hertz is providing special member discounts on their complete inventory.
      </p>

      <p>
        And you’ll benefit from all we offer, including free 24/7 account management, affordable payments, flexible terms and so much more.
      </p>

      <p>
        Only at Hertz Car Sales in Ogden (2805 Washington Boulevard) and Layton (1573 North Main Street). Hours are 9 a.m. to 7 p.m.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/loans/vehicle-loans/auto-loans.html?cid={{cid}}"
        target="_blank">GET PREAPPROVED</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Annual percentage rate, on approved credit, subject to change. Equal Opportunity Lender. Call Hertz at (801) 621-6500 or
          (801) 773-6300 for auto details and model availability, or visit <a href="https://www.hertzutah.com" target="_blank"> hertzutah.com</a>.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
