---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUNUGODEC17
matching-id: 20171228154100
label-name: Gymnastics Offer
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/six-free-tickets.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        The Utah Utes women's gymnastics team will be taking on the BYU Cougars on January 5. America First wants you to join us there, cheering them on for free!
      </p>

      <p>
        In fact, you can <strong>get up to six complimentary general admission tickets*</strong> for each home event throughout the season. Here's how:
      </p>

      <ol>
        <li>Go to <a href="https://utahtickets.com/gymnastics/" target="_blank">utahtickets.com/gymnastics</a></li>
        <li>Click Redeem Now in the family pass section</li>
        <li>Enter code <strong>UTAHGYMAFCU</strong></li>
        <li>Select the meet & how many passes you need</li>
      </ol>

      <p>
        Or you can upgrade to reserved seating for just $5 each. Go to <a href="https://utahtickets.com/gymnastics/" target="_blank">utahtickets.com/gymnastics</a>
        today and go Red Rocks!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://utahtickets.com/gymnastics/" target="_blank">GET MY FREE TICKETS</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*General admission tickets do not guarantee a seat and are filled on a first-come, first-served basis.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
