---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-skipapay-afcu-do-svc-20171206
matching-id: 20171206142700
label-name: Skip A Payment2
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/skip-a-payment.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        You can help others in need and give yourself some financial relief during the holidays at America First Credit Union.
      </p>

      <p>
        Skipping a loan payment* is only $25 and we’ll contribute <strong>$5 to the America First Charitable Foundation</strong>
        when you take advantage of this option.
      </p>

      <p>
        You'll be assisting the less fortunate and you'll also free up some funds to go shopping or get caught up on your bills. To see if you qualify:
      </p>

      <ul>
        <li>Visit a branch</li>
        <li>Log in to online banking and click Other Services</li>
        <li>Or call <strong>1-800-999-3961</strong></li>
      </ul>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/services/other-services/skip-payment.html?cid={{cid}}">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Terms and conditions apply. Not all loans are eligible, including long-term mortgages and Visa<sup>®</sup> credit cards. The America First Credit Union
          Charitable Foundation is a Utah-based, non-profit corporation organized for charitable purposes.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
