---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-elk-wsu_basketball-afcu-do-com-20171221
cid2: cid=em-btn-wsu_basketball-afcu-do-com-20171221
matching-id: 20171219153400
label-name: WSU Basketball
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/wsu-b-ball.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        If you're a Weber State basketball fan, we've got a great-great-great deal! When you present your
        America First Visa<sup>&reg;</sup> debit or credit card at the box office on <strong>December 30, you'll get four free
        tickets</strong> to see the Wildcats take on the Idaho State Bengals.
      </p>

      <p>
        Plus, the first 2,000 fans who come to the Dee Events Center will receive a WSU T-shirt! And by
        choosing Visa from America First, you'll benefit from all sorts of perks, such as:
      </p>

      <ul>
        <li>No annual fees</li>
        <li>Cash back from ABC Deals<sup>&trade;</sup></li>
        <li>Chip-enabled (EMV) fraud protection</li>
        <li>Discounts at sporting events &amp; movie theaters</li>
        <li>Free cupcakes</li>
        <li>Much more</li>
      </ul>

      <p>
        Go to <a href="https://www.americafirst.com/about/membership/member-deals-discounts.html?cid={{cid}}" target="_blank">americafirst.com</a>
        to check out all the benefits of your credit union membership and go Wildcats!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/about/membership/member-deals-discounts.html?cid={{cid2}}" target="_blank">DEALS & DISCOUNTS</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
