---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: emb|btn|ap13newcard|afcu|v|ac|20170914
---
<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://assets.americafirst.com/images/banners/email/visa-new-transfer.jpg" />
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        America First Visa® credit cards are some of the most widely accepted cards in the world and come with low rates, no annual fees and the chance to earn unlimited cash back.
      </p>

      <p>
        Plus, we let you choose which type of incentive comes with your Visa Platinum card:
      </p>

      <ol>
        <li>Cash Back - receive 1.5% cash back on every single purchase</li>
        <li>Rewards - redeem points for hotel stays, flights or other merchandise</li>
        <li>Low Rate - get an exceptionally low rate that won't go away after an introductory period</li>
      </ol>

      <p>
        Transfer your credit card balances to an America First Visa today!
      </p>

      <spacer size="18"></spacer>
      <center>
        <button class="success radius" href="https://www.americafirst.com/visa/visa-platinum-card.cfm?cid={{cid}}">LEARN MORE</button>
      </center>

      <spacer size="18"></spacer>
    </columns>
  </row>

</container>
