---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-financial_control_01-afcu-svc-svc-2018111
cid2: em-elk-financial_control_01-afcu-svc-svc-2018111
matching-id: 20170110164300
label-name: Financial Control - General
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/take-financial-control-03.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Many people resolve to improve their finances when a new year begins, but with America First, you can truly reach those goals.
      </p>

      <p>
        We offer several free, state-of-the-art services that help you monitor, track & control your funds, such as:
      </p>

      <ul>
        <li><strong>Money manager</strong> - easy, intelligent budgeting</li>
        <li><strong>FICO<sup>&reg;</sup> Scores</strong> - check your credit at any time with free online banking</li>
        <li><strong>Account e-alerts</strong> - stay informed about balances, transactions, deposits and loan payments</li>
        <li><strong>Card Guard<sup>&reg;</sup></strong> - set transaction limits, approve merchants & turn your America First Visa<sup>&reg;</sup> cards on and off</li>
      </ul>

      <p>
        Be sure to visit <a href="https://www.americafirst.com/specials/financial-control.html?cid={{cid2}}" target="_blank">americafirst.com</a> and discover all the exciting things we can offer this year and beyond.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/specials/financial-control.html?cid={{cid}}" target="_blank">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
