---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-visacredit06-afcu-v-r-20171121
matching-id: 20171117142400
label-name: Visa Copy-06
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/visa-campaign-02.jpg"/>
      </center>
      <spacer size="10"></spacer>

      <spacer size="15"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        You already know how easy it is to use your Visa<sup>®</sup> from America First. But during the holidays, each time you swipe your credit card, you'll get a chance* to claim a <strong>$5,000 spending spree</strong>!
      </p>

      <p>
        Plus, through the end of the year, we'll be giving away** <strong>$500 every Friday</strong> to members with active Visa credit accounts.
      </p>

      <p>
        And with your America First Platinum card, you'll benefit from:
      </p>

      <ul>
        <li>Unlimited 1.5% cash back on all purchases</li>
        <li>Even more cash back with free ABC Deals<sup>™</sup></li>
        <li>Free identity theft recovery services</li>
      </ul>

      <p>
        The more purchases you make with your Visa credit card from America First, the more often you'll be entered to become a winner!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/specials/holiday-spending-spree-contest.html?cid={{cid}}">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Grand-prize drawing on Friday, December 8, 2017. **Weekly drawings occur each Friday until January 5, 2018. $500 will be deposited to winning members' Visa accounts.</sup>
      </p>

    </columns>
  </row>

</container>
