---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-visacredit02-afcu-v-us-20171121
matching-id: 20171117114900
label-name: Visa Copy-02
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/visa-campaign-02.jpg"/>
      </center>
      <spacer size="45"></spacer>


      <h2>Hello {{first-name}},</h2>

      <p>
        You already know how easy using your debit card is. But this holiday season, every simple swipe of a Visa<sup>®</sup> credit card from America First enters you in our drawing* to <strong>win $5,000!</strong>
      </p>

      <p>
        And that's not all—we'll be giving** away <strong>$500 every Friday</strong> through the end of the year to those with active America First Visa credit accounts. Plus, you can earn an entry just for opening a new Platinum card.
      </p>

      <p>
        Additionally, when you choose America First, you'll benefit from:
      </p>

      <ul>
        <li>Unlimited 1.5% cash back on all purchases</li>
        <li>Exceptionally low rates</li>
        <li>No annual fees</li>
        <li>Free identity theft recovery services</li>
      </ul>

      <p>
        It's just smart money sense to get a Visa credit card from America First Credit Union.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/specials/holiday-spending-spree-contest.html?cid={{cid}}">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Grand-prize drawing on Friday, December 8, 2017. **Weekly drawings occur each Friday until January 5, 2018. $500 will be deposited to winning members' Visa accounts.</sup>
      </p>

    </columns>
  </row>

</container>
