---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-visacredit01-afcu-v-ac-20171121
matching-id: 20171116151100
label-name: Visa Copy-01
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/visa-campaign-02.jpg"/>
      </center>
      <spacer size="45"></spacer>


      <h2>Hello {{first-name}},</h2>

      <p>
        With every swipe of your America First Visa® credit card this holiday season, you'll get a chance to win* a <strong>$5,000 spending spree</strong>!
      </p>

      <p>
        Plus, we'll be giving away <strong>$500** every Friday</strong> through the end of the year!
      </p>

      <p>
        Don't have a Visa from America First? No problem. You can earn an entry just for opening a Platinum account.
      </p>

      <p>
        And you'll benefit from:
      </p>

      <ul>
        <li>Unlimited 1.5% cash back on all purchases</li>
        <li>Even more cash back with free ABC Deals<sup>™</sup></li>
        <li>Free identity theft recovery services</li>
      </ul>

      <p>
        Get more when you choose a Visa credit card from America First Credit Union!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/specials/holiday-spending-spree-contest.html?cid={{cid}}">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Grand-prize drawing on Friday, December 8, 2017. **Weekly drawings occur each Friday until January 5, 2018. $500 will be deposited to winning members' Visa accounts.</sup>
      </p>

    </columns>
  </row>

</container>
