// Footer Section
.arc-image {

  background-image: url("https://assets.americafirst.com/images/banners/email/arcs.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 0;
  height: 91px;
  margin: 0px;
  Margin: 0px;
  padding: 0px !important;

  .columns {
    padding-bottom: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .container {
    background: transparent;
  }

  .wrapper-inner {
    background: transparent;
    padding: 0px !important;
  }

  /* Small only */
  @media only screen and (max-width: #{$global-breakpoint}) {
    height: 50px !important;
  }
}

.footer {
  background: $dark-blue;

  a {
    color: $light-blue;
    text-decoration: underline;
  }

  p {
    color: #ababab;
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 10px;
    margin-top: 0;
    Margin-bottom: 10px;
    Margin-top: 0;
  }

  .left-column {
    padding-right: 5px !important;
  }

  .right-column {
    padding-left: 0 !important;
  }

  .columns {
    padding-bottom: 0;
  }

  .container {
    background: transparent;
  }

  .wrapper-inner {
    // background: $white;
    padding: 20px, 0 20px, 20px;
  }

  .fix-width{

      height:65px !important;
      width:60px !important;
      cursor:pointer !important;
  }

  @media screen and (max-width: $global-breakpoint) {

    .social-media-icons {
      margin-top: 10px;
      Margin-top: 10px;
    }

    .left-column p {
      text-align: center !important;
    }

    .right-column p {
      text-align: center !important;
    }

  }
}
