// Header Section
.header {
    background: $dark-blue;

    .columns {
        padding-bottom: 0;
    }

    .container {
        background: transparent;
    }

    .wrapper-inner {
        background: $dark-blue;
        padding: 20px;
    }
}
