.kitchen-sink {

  .color-primary {
    border: 1px solid $black;
    background-color: $primary-color;
  }

  .color-secondary {
    border: 1px solid $black;
    background-color: $secondary-color;
  }

  .color-success {
    border: 1px solid $black;
    background-color: $success-color;
  }

  .color-warning {
    border: 1px solid $black;
    background-color: $warning-color;
  }

  .color-alert {
    border: 1px solid $black;
    background-color: $alert-color;
  }

  .color-dark-blue {
    border: 1px solid $black;
    background-color: $dark-blue;
  }

  .color-light-blue {
    border: 1px solid $black;
    background-color: $light-blue;
  }

  .color-light-orange {
    border: 1px solid $black;
    background-color: $light-orange;
  }

  .color-purple {
    border: 1px solid $black;
    background-color: $purple;
  }

  .color-white {
    border: 1px solid $black;
    background-color: $white;
  }

  .color-lightgray {
    border: 1px solid $black;
    background-color: $light-gray;
  }

  .color-medgray {
    border: 1px solid $black;
    background-color: $medium-gray;
  }

  .color-darkgray {
    border: 1px solid $black;
    background-color: $dark-gray;
  }

  .color-black {
    border: 1px solid $black;
    background-color: $black;
  }

  .divider {
    border-right: 1px solid #ccc;
  }

}
