// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: $white;
}

.container.header {
  background: $white;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

.header-image {
  width: 100%;
}

.header-title {
  color: $black;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

h1,
h2,
h3,
h4,
h5,
li,
p,
ul {
  color: #666666;
  margin-top: 15px;
  margin-bottom: 15px;
  Margin-top: 15px;
  Margin-bottom: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

a {
  color: $light-blue;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  line-height: 35px;
}

img {
  border-radius: 5px;
}

p {
  font-size: 14px;
  line-height: 28px;
}

sup {
   line-height: 18px;
}

li,
ul {
  font-size: 14px;
  line-height: 21px;
}

.arrow-right{
    margin-left: 2px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #fff;
    display: inline-block;
}

/*added by Doug Bailey 03-07-18*/

.main-button {
    min-width: 120px !important;
}

.dno {
  text-align: center;
  padding-left: 2% !important;
  padding-right: 2% !important;
}

.dno-featured {
  width: 100%;
  height: 250px;
  /*desktop sized image*/
  background-image: url('https://www.americafirst.com/content/dam/emails/two-for-one.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.dno-para {
  min-height: 75px;
  margin-bottom: 0px !important;
}

.dno-para-right {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  text-align: right !important;
  font-size: 12px;
}

.dno-img {
  border-radius: 0px !important;
}

@media all and (max-width: 715px) {
    .dno-featured {
        height: 320px !important;
        width: 100% !important;
        /*mobile sized image*/
        background-image: url('https://www.americafirst.com/content/dam/emails/las-vegas-two-one.jpg') !important;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .dno p {
      text-align: center;
      padding-left: 0% !important;
      padding-right: 0% !important;
    }
}

@media all and (max-width: 619px) {
    .dno-featured {
        height: 280px !important;
    }
}

@media all and (max-width: 535px) {
    .dno-featured {
        height: 220px !important;
        width: 100% !important;
    }
}

@media all and (max-width: 454px) {
    .dno-featured {
        height: 190px !important;
        width: 100% !important;
    }
}

@media all and (max-width: 415px) {
    .dno-featured {
        height: 181px !important;
        width: 100% !important;
    }
}

@media all and (max-width: 375px) {
    .dno-featured {
        height: 163px !important;
        width: 100% !important;
    }
}
