---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-boat_show-afcu-ln-ac-2018206
matching-id: 20180202142700
label-name: Boat Show
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/boat-show-2018-02.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        If you can't wait to get back on the water, come to the 2018 Utah Boat & Watersports Expo and discover the latest in:
      </p>

      <ul>
        <li>Houseboats</li>
        <li>Fishing boats</li>
        <li>Personal watercraft</li>
        <li>Swimwear</li>
        <li>Boat accessories</li>
        <li>Much more</li>
      </ul>

      <p>
        There will also be activities for the whole family, including fly-tying classes, a gourmet cooking demonstration and an indoor wake park.
      </p>

      <p>
        The show is at the South Towne Center in Sandy, <strong>February 8 - 11</strong>. Stop by the America First booth for fast financing—featuring
        <strong>no payments for 90 days</strong>—and enter to win some tools, toys & other fun swag.
      </p>

      <p>
        Plus, when you <a href="https://secure.interactiveticketing.com/1.20/1c23b0/#/select" target="_blank">buy online</a>, enter the code <strong>AFCU</strong> for <strong>$1 off</strong> each adult ticket.
      </p>

      <p>
        Click the link below to get preapproved for financing today!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/loans/vehicle-loans/watercraft-loans.html?cid={{cid}}">GET PREAPPROVED</button>
      </center>

      <spacer size="35"></spacer>

    <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
