---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-elk-business_resources_seminar-afcu-bus-com-2018215
cid2: em-btn-business_resources_seminar-afcu-bus-com-2018215
matching-id: 20180215104800
label-name: Business Resources Seminar
---

<!-- Subject: Discover all the business resources in your community -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/business-resources-2018.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Join us on <strong>Thursday, March 1 from 11:30 a.m. to 1 p.m.</strong> at our Henderson branch (370 North Stephanie Street) for a free educational
        seminar about the helpful resources available to business owners in your community.
      </p>

      <p>
        Kathy Carrico, training director for the Nevada Small Business Development Center, and her colleagues will be there to:
      </p>

      <ul>
        <li>Aid companies at all levels of growth</li>
        <li>Offer one-on-one counseling & mentoring</li>
        <li>Increase awareness of ongoing training opportunities</li>
      </ul>

      <p>
        We'll provide a light lunch and there is no cost to attend, but seating is limited. Please RSVP today on the
        <a href="https://news.americafirst.com/calendar-events/free-resources-fingertips-seminar/?cid={{cid}}" target="_blank">Events &amp; Seminars</a>
        page, visit the location listed below, or call (801) 827-8809.
      </p>

      <p class="text-center">
        <strong><em>Free Resources at Your Fingertips</strong><br>
          Thursday, March 1, 11:30 a.m. - 1 p.m.<br> 370 North Stephanie Street, Henderson, NV 89014</em>
        </p>

        <spacer size="35"></spacer>

        <center>
          <button class="success radius" href="https://news.americafirst.com/calendar-events/free-resources-fingertips-seminar/?cid={{cid2}}" target="_blank">RSVP</button>
        </center>
      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
