---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-elk-financial_literacy-afcu-svc-svc-2018213
cid2: em-elk2-financial_literacy-afcu-svc-svc-2018213
cid3: em-elk3-financial_literacy-afcu-svc-svc-2018213
matching-id: 20180214142700
label-name: Financial Literacy
---

<!-- Subject: Learn the ins & outs of emergency funds, credit cards and spending habits -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/fundamentals-weight.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Our FUNDamentals site features a series of short videos, informative infographics & helpful articles that discuss money matters in an entertaining way.
      </p>

      <p>
        This month, we're highlighting:
      </p>

      <ul>
        <li><u><a href="https://www.americafirst.com/learn/fundamentals/boot-camp.html?cid={{cid}}" target="_blank">Emergency fund boot camp</a></u> - Discover how much to save, what really counts as financial crunch time, and helpful budget exercises.</li>
        <li><u><a href="https://www.americafirst.com/learn/fundamentals/comparing_cards.html?cid={{cid2}}" target="_blank">Comparing cards</a></u> - Find the difference between debit, credit, prepaid and any other card you have.</li>
        <li><u><a href="https://www.americafirst.com/learn/fundamentals/good-bad-spending.html?cid={{cid3}}" target="_blank">Good versus bad spending</a></u> - Learn some basic building blocks everyone should use, as well as practices you should avoid.</li>
      </ul>

      <p>
        Click the links above to visit our learning center and take advantage of yet another free service from America First.
      </p>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
