---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-henry_day_ford-afcu-ln-ac-2018220
matching-id: 20180216144600
label-name: Henry Day Ford Sale
---

<!-- Subject: Get serious savings at our Henry Day Ford sale!  -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/henry-day-ford.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Save significantly on the vehicles that fuel your lifestyle during the Henry Day Ford & America First event, <strong>February 21 to 28</strong>.
      </p>

      <p>
        America First is offering fast financing with low rates, flexible terms, and unmatched benefits of convenience. Plus, during this special sale, you’ll make <strong>no payments for 90 days!</strong>
      </p>

      <p>
        Henry Day Ford is providing deep discounts on their always-affordable selection of Ford trucks, cars and SUVs—as well as their range of certified
        pre-owned favorites. They’re also giving all America First members an additional $300 off!
      </p>

      <p>
        And every purchase comes with Henry Day’s exclusive worry-free guarantee, including:
      </p>

      <ul>
        <li>One-year key replacement</li>
        <li>Price-match assurance</li>
        <li>Three-day, 300-mile returns</li>
      </ul>

      <p>
        Don’t miss out on these great values, only at Henry Day Ford in West Valley City, 4091 West 3500 South, February 21 - 28. For auto information &
        dealership details, visit <a href="https://www.henrydayford.com/" target="_blank">henrydayford.com</a> or call 1-844-240-3371.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/loans/vehicle-loans/auto-loans.html?cid={{cid}}">GET PREAPPROVED</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Eligibility & conditions apply. Federally insured by NCUA/Equal Opportunity Lender. See dealer for purchase package and warranty information. </sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
