---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUNMPFEB18
matching-id: 20180227153300
label-name: Metallica Presale
---

<!-- Subject: Are you ready for Metallica in Salt Lake City? -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/metallica.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Nothing else matters—because Metallica's WorldWired Tour is coming to the Vivint Smart Home Arena this November!
      </p>

      <p>
        And even though the public can't buy admission until Saturday, our exclusive pre-sale starts on <strong>Thursday, March 1 at 9 a.m. and goes until 10 p.m.</strong> that evening.
      </p>

      <p>
        It's just one of many opportunities to get the hottest concert tickets before anyone else—just for being a member of America First.
      </p>

      <p>
        Click the link below & enter the code <strong>AFCU</strong> for the best seats in the house!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="http://www.ticketmaster.com/event/1E005455C4CD2AD5?CAMEFROM=CFC_VSHA_AFCU_PRESALE" target="_blank">ENTER PRE-SALE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
