---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUNRP01FEB18
matching-id: 20180202160500
label-name: Retirement Planning 30-55
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/retirement-planning.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        It's never too early to start thinking about retirement and we want to help put those ideas into action—at no cost!
      </p>

      <p>
        Our professional advisors at America First Financial Solutions can:
      </p>

      <ul>
        <li>Analyze your current situation</li>
        <li>Create a workable retirement plan</li>
        <li>Estimate the probability of success</li>
        <li>Set benchmarks to achieve your goals</li>
      </ul>

      <p>
        Send an email requesting a free appointment to <a href="mailto:affsolutions@cusonet.com">affsolutions@cusonet.com</a> or click the link below for details.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="http://financialsolutions.americafirst.com/?_ga=2.192622186.1961727199.1516639835-388924700.1485880493" target="_blank">AMERICA FIRST FINANCIAL SOLUTIONS</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
