---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-rv_show-afcu-ln-ac-2018212
matching-id: 20180212100300
label-name: RV Show
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/rv-show-2018.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        If you love the great outdoors, you don't want to miss the 2018 Utah RV show! They’ll have the latest makes & models of your favorite motorhomes,
        trailers, trucks, ATVs and accessories. You'll also have the chance to:
      </p>

      <ul>
        <li>Chat with folks from local resorts & lodges</li>
        <li>Talk with professional hunting & fishing guides</li>
        <li>Learn the latest in fly tying</li>
        <li>Improve your Dutch oven skills</li>
        <li>And more</li>
      </ul>

      <p>
        The Utah Sportsmen, Vacation & RV Show runs <strong>February 15 - 18</strong> at the South Towne Expo Center in Sandy. Stop by the America First booth for fast
        financing—featuring <strong>no payments* for 90 days</strong>—and enter to win some tools, toys and other fun swag.
      </p>

      <p>
        Plus, when you <a href="https://secure.interactiveticketing.com/1.20/a00c2b/#/select" target="_blank">buy online</a>, enter the code <strong>AFCU</strong> for <strong>$2 off</strong> each adult ticket.
      </p>

      <p>
        Click below to get your financing preapproved before you see everything this annual event offers!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/loans/vehicle-loans/rv-loans.html?cid={{cid}}">GET PREAPPROVED</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Eligibility & conditions apply.</sup>
      </p>

    <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
