---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-3_percent_bt-afcu-v-us-2018222
cid2: em-lk-3_percent_bt_abc-afcu-v-us-2018222
cid3: em-lk-3_percent_bt_cguard-afcu-v-us-2018222
cid4: em-lk-3_percent_bt_pperfect-afcu-v-us-2018222
matching-id: 20180222171400
label-name: 3% Balance Transfer-02
---

<!-- Subject: Consolidate your credit cards and get 3% cash back! -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/cash-bonus-red-02.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        It's not too late! You can still consolidate your high-rate credit card balances into one easy & affordable payment and receive <strong>3% of the transfer amount</strong>.
      </p>

      <p>
        With our America First Platinum card, you can take advantage of rates as low* as 7.74% APR and you’ll benefit from:
      </p>

      <ul>
        <li>Even more cash back with free <a href="https://www.americafirst.com/services/online-services/abc-deals.cfm?cid={{cid2}}" target="_blank">ABC Deals</a><sup>&trade;</sup></li>
        <li><a href="https://www.americafirst.com/visa/visa-picture-perfect.html?cid={{cid4}}" target="_blank">Picture Perfect</a> card customization</li>
        <li>Free <a href="https://www.americafirst.com/services/mobile-services/card-guard.html?cid={{cid3}}" target="_blank">Card Guard</a><sup>&reg;</sup> mobile security</li>
        <li>Free ID theft recovery services</li>
        <li>No annual fees</li>
      </ul>

      <p>
        Don't delay! This balance transfer offer won't be available much longer.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/visa/visa-platinum-card.html?cid={{cid}}" target="_blank">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Annual percentage rate, on approved credit, subject to change, terms &amp; conditions. Total cash incentive payout cannot
          exceed $300 in any six-month period. Eligibility applies. Offer valid through Feb. 28, 2018. Incentive will be paid to member’s
          share savings account after 45 days of balance transfer. Not available on business accounts or balances transferred from existing
          America First loans. Cannot be combined with any other offers. Federally insured by NCUA/Equal Opportunity Lender.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
