---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: test-cid-test
matching-id: 20180221115300
label-name: Utah Jazz Discount
---

<!-- Subject:  -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/utah-jazz-tix.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        America First is teaming up with the Utah Jazz to get you discounted seats for some great matchups this season.
      </p>

      <p>
        Save 15% on each ticket when you:
      </p>

      <Ol>
        <li>Click the link below</li>
        <li>Select a game</li>
        <li>Enter <strong>the first six digits</strong> of your credit union Visa<sup>&reg;</sup> card in the offer code field</li>
      </Ol>

      <p>
        It's that easy! And keep an eye on your inbox for more offers—another way we're saying thanks for your membership!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="#">CLAIM MY DISCOUNT</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
