---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-visa_potential-afcu-v-ac-2018223
matching-id: 20180223142700
label-name: Visa Potential
rebate: <%= targetData.visaPotential %>
---

<!-- Subject: See how much cash you could pocket with our Visa card! -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/visa-every-purchase.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        By choosing America First, you're already making smart money decisions. But you could also be getting unlimited cash back with every swipe of your credit card!
      </p>

      <p>
        In fact, in 2017 you could have earned <strong>${{rebate}}</strong>&nbsp;just for using our 1.5% cash back Visa<sup>&reg;</sup> from America First.
      </p>

      <p>
        On top of that, our Visa accounts come standard with:
      </p>

      <ul>
        <li>No annual or balance-transfer fees</li>
        <li>More cash-back opportunities with ABC Deals<sup>&trade;</sup></li>
        <li>Free Card Guard<sup>&reg;</sup> mobile security</li>
        <li>Chip-enabled (EMV) fraud protection</li>
        <li>Free card personalization</li>
        <li>Free identity theft recovery services</li>
        <li>Exclusive discounts & offers</li>
      </ul>

      <p>
        Apply today and start putting extra cash in your pocket.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://wwwapps.americafirst.com/applications/member/index.cfm?productType=creditCard&cid={{cid}}" target="_blank">APPLY ONLINE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
