---
first-name: <%=rtEvent.ctx.FIRST_NAME%>
layout: triggered-email-layout
---

<container>
  <spacer size="30"></spacer>
  <row>
    <columns small="12" large="12">

      <spacer size="25"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>We are confirming that you requested to update your contact information. This may include a change to a physical address, phone number, or email address.</p>
      <p>If you directed us to take this action, no response is necessary.</p>
      <p>If you did not make this request, please call <strong>1 (800) 999-3961</strong> as soon as possible.</p>
      <p>Thank you for choosing America First Credit Union.</p>
    </columns>
  </row>
</container>
