<container>
  <row>
    <columns>
      <spacer size="45"></spacer>

      <p class="text-right">
        Account number: **** <strong>[LAST_4_DIGITS]</strong>
      </p>

      <p class="text-right">
        Overdrawn balance: <strong>$[NEGATIVE_BALANCE]</strong>
      </p>

      <spacer size="25"></spacer>

      <h2>Dear Member,</h2>

      <p>
        We attempted to contact you numerous times regarding your overdrawn
        America First checking account. The negative balance is listed above.
      </p>

      <p>
        It is imperative that you resolve this matter within five days. You must
         make a deposit to bring your account positive or contact us at once via
         <strong>801-827-8205</strong> to make further arrangements.
      </p>

      <p>
        Failure to respond will result in account closure and further collection
        action. If this occurs, we may also refer the situation to Chexsystems,
        a consumer reporting agency financial institutions consult to determine
        your ability to open a checking account.
      </p>

      <spacer size="25"></spacer>

      <p>
        Sincerely,
      </p>

      <p>
        Loss Mitigation Department <br /> America First Credit Union
      </p>
    </columns>
  </row>
</container>
