---
first-name: FIRST NAME
layout: informational-layout
date: DATE
cid: test-cid-test
matching-id:
label-name:
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/wire-transfer.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

    <p>
      A Bank to Bank Wire Transfer was received and deposited to your account on {{date}}.
    </p>

    <p>
      Please do not reply to this email. Call <strong>1-800-999-3961</strong> with questions or concerns or log into Online Banking.
    </p>

    <p>
      Sincerely,
    </p>

    <spacer size="15"></spacer>

    <p>
      Wire Team <br />Central Processing
    </p>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
