---
first-name: <%=recipient.firstName%>
amount: <%=amount%>
beneficiary: <%=beneficiary%>
layout: informational-layout
cid: test-cid-test
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/wire-transfer.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Thank you for initiating a wire transfer of ${{amount}} to {{beneficiary}}.
      </p>

      <p>
        We'll let you know when the funds are sent.
      </p>

      <p>
        Please do not reply to this email. Call <strong>1-800-999-3961</strong> with questions or concerns.
      </p>

      <p>
        Sincerely,
      </p>

      <p style="line-height:1.5">
        Wire Team <br />Central Processing
      </p>

      <spacer size="35"></spacer>

    </columns>
  </row>

</container>
