---
first-name: [[FIRST NAME]]
date: [[DATE]]
confirmation-number: [[CONFIRMATION NUMBER]]
layout: informational-layout
cid: test-cid-test
matching-id:
label-name:
---

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/wire-transfer.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Your wire transfer was sent on {{date}}.  Your confirmation number is {{confirmation-number}}.
      </p>

      <p>
        Please do not reply to this email.  Call <STRONG>1-800-999-3961</STRONG> with questions or concerns or log into Online Banking.
      </p>

      <p>
        Sincerely,
      </p>

      <spacer size="15"></spacer>

      <p style="line-height:1.5">
        Wire Team <br />Central Processing
      </p>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>

  </row>

</container>
