---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-2018_heloc-afcu-ln-ac-2018316
matching-id: 20180316144100
label-name: 2018 .25% HELOC
---

<!-- Subject: Maximize your hard-earned equity with a lower rate! -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/home-equity-line.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Because of your current home loan relationship with America First, we’d like to offer you an <strong>exclusive 0.25% APR*</strong>
        discount on home equity lines of credit. And with our already-low rates, low or no fees, and offers such as this,
        it’s easy to see why it pays to be a member of America First.
      </p>

      <p>
        Open yours today and maximize your hard-earned equity. You can:
      </p>

      <ul>
        <li>Complete remodeling projects</li>
        <li>Cover medical expenses</li>
        <li>Take a family vacation</li>
        <li>Fund your education</li>
        <li>Start a business</li>
        <li>Buy a new car</li>
        <li>Achieve your unique financial goals</li>
      </ul>

      <p>
        Get your home equity line of credit from America First Credit Union and benefit from flexible terms, great member service &amp; more!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/loans/home-equity-loans/home-equity-line-of-credit.html?cid={{cid}}" target="_blank">GET STARTED</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Annual percentage rate, on approved credit. Eligibility & conditions apply. Available on loans with 80% or lower loan-to-value
          (LTV) ratios. Qualifying members must have a current long-term mortgage or home equity first mortgage at America First.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
