---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-andrea_bocelli_presale-afcu-do-com-2018319
matching-id: 20180319150200
label-name: Andrea Bocelli Presale
---

<!-- Subject: This is your exclusive pre-sale for Andrea Bocelli in concert -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/andrea-bocelli.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Italian singer &amp; songwriter Andrea Bocelli is bringing his beautiful voice to the Vivint Smart Home Arena this November.
      </p>

      <p>
        The public can't purchase tickets until Monday, but our exclusive pre-sale starts on <strong>Wednesday, March 21 at 10 a.m.</strong> and goes until 11 p.m. on Sunday.
      </p>

      <p>
        Use the link below and enter the code <strong>AFCU</strong> to get your seats before anyone else—it's just another benefit of being a member of America First.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.ticketmaster.com/event/1E00545BF2983F26?CAMEFROM=CFC_VSHA_EMAIL_AFCU_PRESALE&bba=1" target="_blank">GET MY TICKETS</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
