---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-build_buy_refi-afcu-ln-ac-2018321
matching-id: 20180322121000
label-name: Build, Buy or Refi Campaign
---

<!-- Subject: Build, buy, or refi with America First -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/build-buy-refi.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        With an improved economy, now's a great time to get a mortgage or refinance your home loan while rates are still low.
      </p>

      <p>
        Whether you choose to buy, build or refinance, America First can offer you:
      </p>

      <ul>
        <li>Quick & easy applications</li>
        <li>Low or no down payments</li>
        <li>Options with no closing costs</li>
        <li>Competitive low rates</li>
        <li>Flexible terms</li>
      </ul>

      <p>
        Click the button below or stop by your local branch and apply for your affordable America First home loan.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/specials/build-buy-refi.html?cid={{cid}}" target="_blank">BUILD, BUY, REFI</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
