---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-jerry_seiner-afcu-ln-ac-2018329
cid2: em-elk-jerry_seiner-afcu-ln-ac-2018330
matching-id: 20180329082200
label-name: Jerry Seiner Sale
---

<!-- Subject: Make your best deal & make no payments for 90 days! -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/jerry-seiner.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        It’s inventory clearance season at the Jerry Seiner dealerships. And that means it’s your best opportunity
        to make a much-deserved lifestyle upgrade at our special sale, <strong>April 4 to 7</strong> only!
      </p>

      <p>
        America First is joining Jerry Seiner to bring you fast financing, low rates and exclusive member discounts
        at all their locations. Plus, when you buy during our spring event, you’ll make* <strong>no payments for 90 days</strong>.
        We’ll also be giving away daily $50 Maverik fuel cards, as well as some other great prizes.
      </p>

      <p>
        America First—Utah’s #1 auto lender— will deliver always-flexible terms, 24/7 <a href="https://webaccess.americafirst.com/AFCU/Login.aspx?cid={{cid2}}" target="_blank">account management</a> & free pre-approvals.
        Jerry Seiner, the Beehive State’s largest GM dealer, is providing the area’s finest in service and selection, as well as
        an additional $1,000 trade-in allowance with any purchase, so it’s clearly a sale you don’t want to miss!
      </p>

      <p>
        Be sure to visit Jerry Seiner in North Salt Lake, Salt Lake City & South Jordan, April 4-7, and see the year’s most significant
        savings. Go to <a href="https://www.jerryseiner.com/" target="_blank">jerryseiner.com</a> or call (801) 658-3366 for details.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://wwwapps.americafirst.com/applications/member/index.cfm?productType=auto&cid={{cid}}">PREAPPROVALS</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Eligibility & conditions apply. See dealer for incentives & complete vehicle information.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
