---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-josh_groban_presale-afcu-do-com-2018314
matching-id: 20180314143900
label-name: Josh Groban Presale
---

<!-- Subject: Be first to get tickets for Josh Groban & Idina Menzel! -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/AFCU_JoshGroban_PreSale.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Singer, songwriter & multi-platinum recording artist Josh Groban is bringing his Bridges Tour to the Vivint Smart
        Home Arena in October. Plus, he’ll be joined by one of the most powerful voices in the industry—Tony-award winner Idina Menzel!
      </p>

      <p>
        And even though the public can't buy tickets until Friday, our exclusive pre-sale starts on <strong>Thursday, March 15 at
        10 a.m.</strong> and goes until 10 p.m. that evening.
      </p>

      <p>
        It's just one of many opportunities to grab the best seats in the house—just for being a member of America First.
      </p>

      <p>
        Use the link below, enter the code <strong>AFCU</strong> and make plans to see Josh Groban this fall.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www1.ticketmaster.com/event/1E0054659FB92AB5?CAMEFROM=CFC_VSHA_EMAIL_AFCU_PRESALE" target="_blank">BRIDGES TOUR PRE-SALE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
