---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUNLAGOONMAR18
matching-id: 20180329084800
label-name: Lagoon Discount
---

<!-- Subject: We're giving away season passes to Lagoon! -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/lagoon-discount-2018-email.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        The weather is warming up, which means it's time to enjoy the world-class attractions, high-energy performances and family-friendly entertainment of Lagoon!
      </p>

      <p>
        And from March 31 to June 2, when you use your America First Visa<sup>®</sup> credit or debit card at the park's ticket office, you'll <strong>get $9 off* each regular
        single-day admission</strong>! This discount means you and your family will ride for less on:
      </p>

      <ul>
        <li>Cannibal</li>
        <li>Wicked</li>
        <li>Terroride</li>
        <li>Rocket</li>
        <li>Rattlesnake Rapids</li>
        <li>And many more</li>
      </ul>

      <p>
        Plus, click the button below for a chance to win Lagoon season passes!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="http://woobox.com/c45onn" target="_blank">ENTER TO WIN</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Promotional discount for America First members only. Cannot be combined with any other offer.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
