---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-elk-lv_deals_and_discounts-afcu-do-com-2018403
cid2: em-elk2-lv_deals_and_discounts-afcu-do-com-2018404
cid3: em-elk3-lv_deals_and_discounts-afcu-do-com-2018404
cid4: em-elk4-lv_deals_and_discounts-afcu-do-com-2018404
cid5: em-elk5-lv_deals_and_discounts-afcu-do-com-2018404
matching-id: 20180329122800
label-name: LV Deals-n-Offers MAR18
date: <%=formatDate(new Date(), "%2M/%2D/%4Y")%>
---

<!--
Description: Multi-column with featured section template for monthly or bi-monthly send of all member deals and discounts
Author: Doug Bailey - Josh Bambrick
Base Template: promotional-template.html
Date Created: 03-07-18
-->

<!-- Subject: Enjoy these local deals for America First members! -->

<container>

  <spacer size="5"></spacer>

  <row>
    <columns>
      <p class="dno-para-right">{{first-name}}'s deals and offers for {{date}}</p>

      <!--<spacer size="10"></spacer>-->

      <center class="dno-featured">
        <!--<img src="https://www.americafirst.com/content/dam/emails/wet-wild.jpg alt="Wet'n'Wild Offer" />-->
      </center>

      <spacer size="25"></spacer>

      <h2>LAS VEGAS 51s</h2>

      <p class="dno-para">
        Buy two tickets for the price of one at the Las Vegas 51s ticket office with your America First Visa<sup>&reg;</sup> debit or credit card.
        This offer is good all year and applies to every regular-season game.
      </p>

      <spacer size="30"></spacer>

      <row>
      <columns small="3" large="3">
        <center>
          <button href="https://www.americafirst.com/about/membership/member-deals-discounts/las-vegas-51s-deal.html?cid={{cid}}" target="_blank" class="warning main-button">LEARN MORE</button>
        </center>
      </columns>
    </row>
    <hr>
      <spacer size="30"></spacer>
      <!--begin deals section-->
      <row class="dno-section">
        <!--deal 1 begins here-->
        <columns class="dno">
          <a href="https://www.americafirst.com/about/membership/member-deals-discounts/cupcakery-deal.html?cid={{cid2}}" target="_blank"><img class="dno-img" src="https://www.americafirst.com/content/dam/emails/cupcake.png" height="150" width="200" alt="deal 1 offer"/></a>
          <p class="dno-para"><strong>THE CUPCAKERY<sup>&trade;</sup></strong> - Everyone loves cupcakes and nobody makes them better or tastier than The Cupcakery.
            Get a free cupcake on the last Friday of every month, while supplies last, by showing your America First card.</p>
          <spacer size="10"></spacer>
          <a class="dno-link" href="https://www.americafirst.com/about/membership/member-deals-discounts/cupcakery-deal.html?cid={{cid2}}" target="_blank">learn more</a>
          <spacer size="25"></spacer>
        </columns>
        <!--deal 1 ends-->
        <!--deal 2 begins here-->
        <columns class="dno">
          <a href="https://www.americafirst.com/about/membership/member-deals-discounts/cowabunga-bay.html?cid={{cid3}}" target="_blank"><img class="dno-img" src="https://americafirst.com/content/dam/about/cowabunga-bay-logo.png" height="150" width="200" alt="deal 1 offer"/></a>
          <p class="dno-para"><strong>COWABUNGA BAY</strong> - Receive $15 off general, youth or military admissions with your America First Visa card at the ticket office.
            Or get $50 off 2018 season passes through April 13.
          </p>
          <spacer size="10"></spacer>
          <a class="dno-link" href="https://www.americafirst.com/about/membership/member-deals-discounts/cowabunga-bay.html?cid={{cid3}}" target="_blank">learn more</a>
          <spacer size="25"></spacer>
        </columns>
        <!--deal 2 ends-->
      </row>
      <spacer size="10" />
      <row class="dno-section">
        <!--deal 3 begins here-->
        <columns class="dno">
          <a href="https://www.americafirst.com/about/membership/member-deals-discounts/wet-n-wild-discount.html?cid={{cid4}}" target="_blank"><img class="dno-img" src="https://americafirst.com/content/dam/about/wet-wild-02.png " height="150" width="200" alt="deal 1 offer"/></a>
          <p class="dno-para"><strong>WET 'N' WILD</strong> - Buy discounted season tickets with your America First Visa card. Get $35 off Silver Passes,
          $40 off Gold Passes, and $45 off VIP Passes.
          </p>
          <spacer size="10"></spacer>
          <a class="dno-link" href="https://www.americafirst.com/about/membership/member-deals-discounts/wet-n-wild-discount.html?cid={{cid4}}" target="_blank">learn more</a>
          <spacer size="25"></spacer>
        </columns>
        <!--deal 3 ends-->
        <!--deal 4 begins here-->
        <columns class="dno">
          <a href="https://www.americafirst.com/about/membership/member-deals-discounts/seaquest-discount.html?cid={{cid5}}" target="_blank"><img class="dno-img" src="https://www.americafirst.com/content/dam/emails/seaquest.png" height="150" width="200" alt="deal 1 offer"/></a>
          <p class="dno-para"><strong>SEAQUEST INTERACTIVE AQUARIUM</strong> - Five continents, one day! More than 300 species and over 1,200 animals. Use the code <strong>AFCU</strong> online for 40% off 2018 annual passes.</p>
          <spacer size="10"></spacer>
          <a class="dno-link" href="https://www.americafirst.com/about/membership/member-deals-discounts/seaquest-discount.html?cid={{cid5}}" target="_blank">learn more</a>
          <spacer size="25"></spacer>
        </columns>
        <!--deal 4 ends-->
      </row>
      <!--end deals section-->

      <spacer size="32"></spacer>
      <p>*Deals and offers are subject to change &amp; based on availability.</p>

    </columns>
  </row>

</container>
