{{logic-tag}}
<container>

  <spacer size="30"></spacer>

  <row>
    <columns>

      <center>
        <img class="header-image" src="https://assets.americafirst.com/images/banners/email/mobile-auto.jpg" alt="AFCU">
      </center>

      <spacer size="10"></spacer>

      <h2 class="text-center header-title"><strong>You’re Approved!</strong></h2>

      <h2>Hello {{first-name}},</h2>

      <p>
        Thank you for applying for an America First auto loan! Your approved loan amount is ${{loan-amount}}
        with a {{loan-term}}-month term. We will be in touch via the email address or phone number you provided
        to finalize your loan. If you prefer to contact us, please call 1-844-550-2328 and refer to your
        confirmation number: {{conf-number}}. We appreciate your membership.
      </p>


    </columns>
  </row>

</container>
