---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUNFSIRAMBFEB18
matching-id: 20180208133606
label-name: Financial Solutions-IRA
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/401k.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        We’re committed to helping ensure your funds are working as hard as they can for you, especially as you save for retirement.
      </p>

      <p>
        Your membership provides access to a full range of America First accounts, as well as complete investment and insurance services,
        through CUSO Financial Services, L.P. (CFS*) at America First Financial Solutions, including:
      </p>

      <ul>
        <li>Broad investment choices</li>
        <li>Portfolio management with accounting & performance reporting</li>
        <li>Integration with online banking, giving you a single log-in</li>
        <li>And more</li>
      </ul>

      <p>
        We’re pleased to have a CFS Financial Advisor serving families and businesses in your community to help you achieve your goals,
        whether you are considering retiring or your IRA might not be generating the returns it could.
      </p>

      <p>
        Please call 1-800-999-3961 for a no-cost, no-obligation appointment or send your request to <a href="mailto:affsolutions@cusonet.com">affsolutions@cusonet.com</a>.
      </p>

      <p>
        Sincerely,
      </p>

      <spacer size="15"></spacer>

<row>

  <columns>

      <img class="float-center" src="https://www.americafirst.com/content/dam/emails/mckenzie-badal.jpg" width="195" height="188" >

  </columns>

  <columns>
    <p style="line-height:1.5">
      McKensie Badal</br>
      Financial Advisor</br>
      CUSO Financial Services, L.P.</br>
      At America First Financial Solutions</br>
      Office: 801.827.8921</br>
      Email: <a href="mailto:Kbadal.cfsinvest@americafirst.com">Kbadal.cfsinvest@americafirst.com</a></br>
    </p>

  </columns>
</row>
      <spacer size="35"></spacer>

      <p>
        <sup>*Non-deposit investment products and services are offered through CUSO Financial Services, L.P. (CFS), a registered broker-dealer (Member FINRA/SIPC) and
          SEC Registered Investment Advisor. Products offered through CFS are not NCUA/NCUSIF or otherwise federally insured, are not guarantees or obligations of the
          credit union, and may involve investment risk, including possible loss of principal. Investment representatives are registered through CFS. The credit union
          has contracted with CFS to make non-deposit investment products and services available to members.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
