---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: test-cid-test
matching-id: date-time-stamp
label-name: Deals-n-Offers
date: <%=formatDate(new Date(), "%2M/%2D/%4Y")%>
---

<!--
Description: Multi-column with featured section template for monthly or bi-monthly send of all member deals and discounts
Author: Doug Bailey - Josh Bambrick
Base Template: promotional-template.html
Date Created: 03-07-18
-->

<!-- Subject:  -->

<container>

  <spacer size="5"></spacer>

  <row>
    <columns>
      <p class="dno-para-right">{{first-name}}'s deals and offers for {{date}}</p>

      <!--<spacer size="10"></spacer>-->

      <center class="dno-featured">
        <!--<img src="https://www.americafirst.com/content/dam/emails/utah-jazz-tix.jpg" alt="Utah Jazz Store Offer" />-->
      </center>

      <spacer size="25"></spacer>

      <h2>Utah Jazz Store</h2>

      <p class="dno-para">
        Get 15% off your purchase before each game when you use your America First Visa<sup>&reg;</sup> card. Maybe this text needs to be a little longer than the average B-Banner text. I am hoping to not create a larger demand for copy or graphics and use as many existing elements as possible but this may need to be a custom write-up due to aesthetic reasons.
      </p>

      <spacer size="30"></spacer>

      <row>
      <columns small="3" large="3">
        <center>
          <button href="#" class="warning main-button">LEARN MORE</button>
        </center>
      </columns>
    </row>
    <hr>
      <spacer size="30"></spacer>
      <!--begin deals section-->
      <row class="dno-section">
        <!--deal 1 begins here-->
        <columns class="dno">
          <a href="#"><img class="dno-img" src="https://americafirst.com/content/dam/home/feature-tile/ft-member-deals-discounts.jpg" height="150" width="200" alt="deal 1 offer"/></a>
          <p class="dno-para"><strong>MEGAPLEX THEATERS</strong> - Take advantage of matinee pricing every Monday night at the box office.</p>
          <a class="dno-link" href="#">learn more</a>
          <spacer size="25"></spacer>
        </columns>
        <!--deal 1 ends-->
        <!--deal 2 begins here-->
        <columns class="dno">
          <a href="#"><img class="dno-img" src="https://americafirst.com/content/dam/home/feature-tile/ft-member-deals-discounts.jpg" height="150" width="200" alt="deal 1 offer"/></a>
          <p class="dno-para"><strong>THE CUPCAKERY</strong> - Get a free cupcake on the last Friday of every month. First come first served, they go fast!</p>
          <a class="dno-link" href="#">learn more</a>
          <spacer size="25"></spacer>
        </columns>
        <!--deal 2 ends-->
      </row>
      <spacer size="10" />
      <row class="dno-section">
        <!--deal 3 begins here-->
        <columns class="dno">
          <a href="#"><img class="dno-img" src="https://americafirst.com/content/dam/home/feature-tile/ft-member-deals-discounts.jpg" height="150" width="200" alt="deal 1 offer"/></a>
          <p class="dno-para"><strong>REAL SALT LAKE TEAM STORE</strong> - Show your team spirit! Take 10% off all regularly priced merchandise.</p>
          <a class="dno-link" href="#">learn more</a>
          <spacer size="25"></spacer>
        </columns>
        <!--deal 3 ends-->
        <!--deal 4 begins here-->
        <columns class="dno">
          <a href="#"><img class="dno-img" src="https://americafirst.com/content/dam/home/feature-tile/ft-member-deals-discounts.jpg" height="150" width="200" alt="deal 1 offer"/></a>
          <p class="dno-para"><strong>SWEET TOOTH FAIRY</strong> - Get a free* cupcake on the last Friday of every month. They go fast, so be the first in line!</p>
          <a class="dno-link" href="#">learn more</a>
          <spacer size="25"></spacer>
        </columns>
        <!--deal 4 ends-->
      </row>
      <spacer size="10" />
      <row class="dno-section">
        <!--deal 5 begins here-->
        <columns class="dno">
          <a href="#"><img class="dno-img" src="https://americafirst.com/content/dam/home/feature-tile/ft-member-deals-discounts.jpg" height="150" width="200" alt="deal 1 offer"/></a>
          <p class="dno-para"><strong>SEQUEST INTERACTIVE AQUARIUM</strong> - Get 40% off 2018 annual passes with the promo code <strong class='warning'>AFCU.</strong></p>
          <a class="dno-link" href="#">learn more</a>
          <spacer size="25"></spacer>
        </columns>
        <!--deal 5 ends-->
        <!--deal 6 begins here-->
        <columns class="dno">
          <a href="#"><img class="dno-img" src="https://americafirst.com/content/dam/home/feature-tile/ft-member-deals-discounts.jpg" height="150" width="200" alt="deal 1 offer"/></a>
          <p class="dno-para"><strong>UTAH JAZZ STORE</strong> - Get 15% off your purchase before each game when you use your America First Visa<sup>®</sup> card.</p>
          <a class="dno-link" href="#">learn more</a>
          <spacer size="25"></spacer>
        </columns>
        <!--deal 6 ends-->
      </row>
      <!--end deals section-->

      <spacer size="32"></spacer>
      <p>deals and offers are subject to change and based on availability.</p>

    </columns>
  </row>

</container>
