---
subject: Promotion Email Template
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <h2>Hello, [Insert First Name]</h2>

      <p>
        All deals and offers will be entered below with the first section highlighting the prime/newest/most bestest offer.
      </p>

      <spacer size="45"></spacer>

      <center>
        <img src="https://www.americafirst.com/content/dam/emails/utah-jazz-tix.jpg" alt="Highlighted Offer" />
      </center>

      <spacer size="45"></spacer>

      <h2>Utah Jazz Store</h2>

      <p>
        Get 15% off your purchase before each game when you use your America First Visa® card. And stay tuned for special deals and discounts on tickets
      </p>

      <hr>

      <rows>
        <columns>
            <img src="https://www.americafirst.com/content/dam/about/megaplex-logo.png" width="200" height="150" alt="deal 1" />
        </columns>
        <columns>
          This is the first thing in the mix...by the way dis i get columns and rows right? what is wrong with foundation???
        </columns>
      </rows>

      <spacer size="32"></spacer>
      <p>*You may also refer to the Introduction to Foundation guide found on Box. Email Josh.Bambric@FiveOut.com for questions regarding Foundation</p>

    </columns>
  </row>

</container>
