---
subject: Kitchen Sink
---

<container class="kitchen-sink">
  <spacer size="16"></spacer>
  <h1>Kitchen Sink</h1>
  <p>
    Below is a sample of the components that make up and email along with the current CSS value and settings.
  </p>
  <spacer size="16"></spacer>
  <hr />

  <!-- Color Sample -->
  <h1>Colors</h1>
  <spacer size="16"></spacer>
  <row>
    <columns large="1">

    </columns>
    <columns large="2">
      <row>
        <columns class="color-primary">
        </columns>
      </row>
      <spacer size="8"></spacer>
      <p class="text-center">Primary</p>
    </columns>
    <columns large="2">
      <row>
        <columns class="color-secondary">
        </columns>
      </row>
      <spacer size="8"></spacer>
      <p class="text-center">Secondary</p>
    </columns>
    <columns large="2">
      <row>
        <columns class="color-success">
        </columns>
      </row>
      <spacer size="8"></spacer>
      <p class="text-center">Success</p>
    </columns>
    <columns large="2">
      <row>
        <columns class="color-warning">
        </columns>
      </row>
      <spacer size="8"></spacer>
      <p class="text-center">Warning</p>
    </columns>
    <columns large="2">
      <row>
        <columns class="color-alert">
        </columns>
      </row>
      <spacer size="8"></spacer>
      <p class="text-center">Alert</p>
    </columns>
    <columns large="1">

    </columns>
  </row>
  <!-- Second Row -->
  <row>
    <columns large="2">

    </columns>
    <columns large="2">
      <row>
        <columns class="color-dark-blue">
        </columns>
      </row>
      <spacer size="8"></spacer>
      <p class="text-center">Dark Blue</p>
    </columns>
    <columns large="2">
      <row>
        <columns class="color-light-blue">
        </columns>
      </row>
      <spacer size="8"></spacer>
      <p class="text-center">Light Blue</p>
    </columns>
    <columns large="2">
      <row>
        <columns class="color-light-orange">
        </columns>
      </row>
      <spacer size="8"></spacer>
      <p class="text-center">Light Orange</p>
    </columns>
    <columns large="2">
      <row>
        <columns class="color-purple">
        </columns>
      </row>
      <spacer size="8"></spacer>
      <p class="text-center">Purple</p>
    </columns>
    <columns large="2">

    </columns>
  </row>
  <!-- Third Row -->
  <row>
    <columns large="1">
    </columns>
    <columns large="2">
      <row>
        <columns class="color-white">
        </columns>
      </row>
      <spacer size="8"></spacer>
      <p class="text-center">White</p>
    </columns>
    <columns large="2">
      <row>
        <columns class="color-lightgray">
        </columns>
      </row>
      <spacer size="8"></spacer>
      <p class="text-center">Light Gray</p>
    </columns>
    <columns large="2">
      <row>
        <columns class="color-medgray">
        </columns>
      </row>
      <spacer size="8"></spacer>
      <p class="text-center">Med. Gray</p>
    </columns>
    <columns large="2">
      <row>
        <columns class="color-darkgray">
        </columns>
      </row>
      <spacer size="8"></spacer>
      <p class="text-center">Dark Gray</p>
    </columns>
    <columns large="2">
      <row>
        <columns class="color-black">
        </columns>
      </row>
      <spacer size="8"></spacer>
      <p class="text-center">Black</p>
    </columns>
    <columns large="1">
    </columns>
  </row>

  <spacer size="16"></spacer>
  <hr />


  <!-- Plain Text -->
  <h1>Plain Text</h1>
  <spacer size="16"></spacer>
  <row>
    <columns large="8" class="divier">
      <p>This is sample text</p>
      <p><em>This is italicized sample text</em></p>
      <p><strong>This is bold sample text</strong></p>

      <hr />
      <p>
        Lorem ipsum dolor sit amet, vis laoreet urbanitas conceptam cu. Latine accumsan consetetur et est, placerat mediocritatem cu vel.
      </p>
      <p>
        Lorem ipsum dolor sit amet, vis laoreet urbanitas conceptam cu. Latine accumsan consetetur et est, placerat mediocritatem cu vel.
      </p>
      <ul>
        <li>Add a new payee &amp; send a payment with bill pay</li>
        <li>Activate a new eBill</li>
        <li>Make your first Popmoney transaction</li>
        <li>Use TransferNow for the first time</li>
        <li>Post your first premium payment</li>
      </ul>
      <p>
        Lorem ipsum dolor sit amet, vis laoreet urbanitas conceptam cu. Latine accumsan consetetur et est, placerat mediocritatem cu vel.
      </p>
      <p>
        Lorem ipsum dolor sit amet, vis laoreet urbanitas conceptam cu. Latine accumsan consetetur et est, placerat mediocritatem cu vel.
      </p>
    </columns>
    <columns large="4">
      <p><strong>Body CSS Settings</strong></p>
      <p>
        display: block; <br />
        font-size: 14px; <br />
        font-family: Avenir, Arial, sans-serif; <br />
        margin-top: 0px; <br />
        margin-bottom: 0px; <br />
        padding-top: 0px; <br />
        padding-bottom: 0px; <br />
        line-height: 28px;
        list item: line-height 21px;
      </p>
    </columns>
  </row>
  <spacer size="16"></spacer>
  <hr/>

  <!-- Heading Tags -->
  <h1>Heading Tags</h1>
  <spacer size="16"></spacer>

  <row>
    <columns large="8">
      <h1>h1 Header, 22px</h1>
      <h2>h2 Header, 18px</h2>
      <h3>h3 Header, 16px</h3>
      <h4>h4 Header, 14px</h4>
      <h5>h5 Header, 10px</h5>
      <h6>h6 Header, 8px</h6>
    </columns>
    <columns large="4">
      <p><strong>Heading CSS Settings</strong></p>
      <p>
        font-family: Avenir, Arial, sans-serif; <br />
        text-aling: left
      </p>
    </columns>
  </row>
  <spacer size="16"></spacer>
  <hr/>

  <h1>Links</h1>
  <spacer size="16"></spacer>
  <row>
    <columns large="8">
      <p>
        <a href="global.html">This is a link</a>
      </p>
      <p>
        <a href="global.html">This is a visited link</a>
      </p>
    </columns>
    <columns large="4">
      <p><strong>Heading CSS Settings</strong></p>
      <p>

      </p>
    </columns>
  </row>
  <spacer size="16"></spacer>
  <hr/>

  <!-- Buttons -->
  <h1>Buttons</h1>
  <spacer size="16"></spacer>
  <row>
    <columns small="4" large="4">
      <center>
        <button href="#" class="tiny">Tiny</button>
      </center>
    </columns>
    <columns small="4" large="4">
      <center>
        <button href="#" class="small">Small</button>
      </center>
    </columns>
    <columns small="4" large="4">
      <center>
        <button href="#">Default</button>
      </center>
    </columns>
  </row>
  <row>
    <columns>
      <hr />
    </columns>
  </row>
  <row>
    <columns small="4" large="4">
      <center>
        <button href="#" class="large">Large</button>
      </center>
    </columns>
    <columns small="8" large="8">
      <center>
        <button href="#" class="expand">Expanded</button>
      </center>
    </columns>
  </row>
  <row>
    <columns>
      <hr />
    </columns>
  </row>
  <row>
    <columns small="4" large="4">
      <center>
        <button href="#" class="primary expand">Primary Button</button>
      </center>
    </columns>
    <columns small="4" large="4">
      <center>
        <button href="#" class="secondary expand">Secondary Button</button>
      </center>
    </columns>
    <columns small="4" large="4">
      <center>
        <button href="#" class="success expand">Success Button</button>
      </center>
    </columns>
  </row>
  <row>
    <columns small="6" large="6">
      <button href="#" class="warning expand">Warning Button</button>
    </columns>
    <columns small="6" large="6">
      <button href="#" class="alert expand">Alert Button</button>
    </columns>
  </row>
  <row>
    <columns>
      <hr />
    </columns>
  </row>
  <row>
    <columns small="6" large="6">
      <button href="#" class="expand radius">Radius Button</button>
    </columns>
    <columns small="6" large="6">
      <button href="#" class="expand rounded">Round Button</button>
    </columns>
  </row>
  <spacer size="16"></spacer>
  <hr />

  <!-- Images -->
  <h1>Images</h1>
  <spacer size="16"></spacer>
  <row>
    <columns large="8" style="border-right: 1px solid #ccc;">
      <center>
        <img class="" src="http://placehold.it/580x250?text=Placeholder+Image">
      </center>
    </columns>
    <columns large="4">
      <p><strong>Heading CSS Settings</strong></p>
      <p>
        border-radius: 5px;
      </p>
    </columns>
  </row>
  <spacer size="16"></spacer>
  <hr/>

  <!-- Callouts -->
  <h1>Callouts</h1>
  <spacer size="16"></spacer>
  <row>
    <columns large="8" >
      <callout>
        <p>Successfully avoided Kraken. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      </callout>
      <callout class="primary">
        <p>Successfully avoided Kraken. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      </callout>
      <callout class="success">
        <p>Successfully avoided Kraken. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      </callout>
      <callout class="warning">
        <p>There may be Krakens around. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      </callout>
      <callout class="alert">
        <p>Incoming Kraken! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      </callout>
    </columns>
    <columns large="4">
      <p><strong>Heading CSS Settings</strong></p>
      <p>
        display: block; <br />
        font-size: 14px; <br />
        font-family: Avenir, Arial, sans-serif; <br />
        margin-top: 0px; <br />
        margin-bottom: 0px; <br />
        padding-top: 0px; <br />
        padding-bottom: 0px; <br />
        p tag: line-height: 28px;
      </p>
    </columns>
  </row>

  <spacer size="16"></spacer>
  <hr />

  <!--Hidden Text   -->
  <h1>Media Queries - Hidden Text</h1>
  <spacer size="16"></spacer>
  <p>Small Screen Text</p>
  <callout class="hide-for-large primary">
    <p>This callout will only appear on small screens.</p>
  </callout>

  <spacer size="16"></spacer>
  <p>Large Screen Text</p>
  <callout class="show-for-large alert">
    <p>This callout will only appear on large screens.</p>
  </callout>
  <p>Note: .hide-for-large is not supported on Gmail and Yahoo email clients.</p>
  <spacer size="65"></spacer>

</container>
