---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: test-cid-test
matching-id: date-time-stamp
label-name:
---

<!-- Subject:  -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="http://placehold.it/668x250?text=Placeholder+Image"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        This is a sample template for you to start with. Use the directions below to create a new AFCU email
      </p>

      <ul>
        <li>Copy this email template and rename xxx.html</li>
        <li>Create a new scss file under src/assets/scss titled _xxx.scss</li>
        <li>Change the subject title from Promotion Tempatle to suit your needs</li>
        <li>Refer to the <a href="http://foundation.zurb.com/emails/docs/" target="_blank">Foundation Docs</a> if needed</li>
      </ul>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="#" target="_blank">Sample Button</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*You may also refer to the Introduction to Foundation guide found on Box. Email Josh.Bambric@FiveOut.com for questions regarding Foundation</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
