---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-shred_day_laytonheritage-afcu-svc-com-2018226
matching-id: 20180227162100
label-name: Shred Day-Layton Heritage
---

<!-- Subject: Safely dispose of sensitive documents at America First -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/shred-days.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Join us on <strong>Saturday, March 10</strong> at your local America First location for a free shredding event,
        where you can destroy sensitive documents regarding your financial, medical &amp; other personal information.
      </p>

      <p>
        Bring everything* you want to shred. We'll be there from <strong>9 a.m. to noon</strong>, or until the trucks are full.
      </p>

      <p>
        Don't miss this valuable opportunity to safely dispose of old bills, receipts, account statements, canceled checks and any other identifying paperwork.
      </p>

      <spacer size="10"></spacer>

      <h2 class="text-center">LAYTON HERITAGE BRANCH</h2>

      <p class="text-center">Saturday, March 10<br> 9 a.m. to 12 p.m.<br> 425 WEST HERITAGE PARK BOULEVARD</p>

      <spacer size="30"></spacer>

      <center>
        <button class="warning radius" href="https://www.americafirst.com/about/branch-details.html?siteNo=53?cid={{cid}}" target="_blank">LOCATION DETAILS</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Individuals are allowed up to five boxes at a time. Those with more than five will have their first set accommodated, then must get back in line for further service.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
