---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-turbo_tax02-afcu-svc-svc-2018305
matching-id: 20170108164002
label-name: TurboTax - Premier
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/turbo-tax-03.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        If you have investments and rental properties, choosing TurboTax<sup>&reg;</sup>—the web’s #1 tax preparation platform—is a simple way to get the best refund possible.
      </p>

      <p>
        And, as a member of America First, you can take advantage of an <strong>exclusive $15 discount</strong> on the premier edition by clicking the button in this email or the corresponding link on our website.
      </p>

      <spacer size="15"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/specials/turbo-tax.html?cid={{cid}}" target="_blank">CLAIM MY DISCOUNT</button>
      </center>

      <spacer size="15"></spacer>

      <p>
        TurboTax is easy to use, double-checks your work as you go, and searches for all your available deductions and credits. We’re also offering:
      </p>

      <ul>
        <li>$10 off the deluxe package</li>
        <li>$20 price reduction for self-employed filers</li>
      </ul>

      <p>
        These are the first of many deals & discounts you'll get all year long, just for being part of the America First family.
      </p>

      <spacer size="35"></spacer>

      <p>
        <sup>America First does not endorse or guarantee this service. See turbotax.com for details.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
