---
first-name: <%= AppLeads.FIRST_NAME %>
loan-type: <%= AppLeads.LOAN_TYPE %>
layout: leads-layout
date: <%= AppLeads.EVENT_DATE %>
---
<container>
  <spacer size="30"></spacer>
   
  <row>
    <columns>
   	 <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>
      <p>
        We noticed that you started an America First {{loan-type}} application on {{date}}, but did not complete the process. Please return to www.americafirst.com to finish applying.

      </p>
      <p>
        If you encountered any issues during your application, you can reach out to our professionally trained member service representatives at 1-800-999-3961.
      </p>
    </columns>
  </row>
</container>
