<!-- --- layout: index-layout subject: My Email Templates --- -->

<spacer size="16"></spacer>

<container>

  <spacer size="24"></spacer>

  <row>
    <columns small="12">

      <p class="lead">Hello there!</p>

      <spacer size="16"></spacer>

      <!-- <menu align="left" class="vertical">
        <item href="{{root}}basic.html" target="_blank">Basic Template</item>
      </menu>

      <spacer size="16"></spacer>

      <p>Happy Coding,</p>
      <p>The Foundation Team</p>

      <spacer size="16"></spacer> -->

    </columns>
  </row>
  <!-- Row 1 -->
  <row>
    <columns small="6" large="4">
      <h2>
        Base Tempaltes
      </h2>
      <ul>
        <li><a href="{{root}}/base-templates/promotion-template.html" target="_blank">Promotion Template</a></li>
        <li><a href="{{root}}/base-templates/information-template.html" target="_blank">Information Template</a></li>
        <li><a href="{{root}}/base-templates/kitchen-sink.html" target="_blank">Kitchen Sink</a></li>
      </ul>
    </columns>
    <columns small="6" large="4">
      <h2>
        Bazaar Voice
      </h2>
      <ul>
        <li><a href="{{root}}/unscheduled/bazaarvoice.html" target="_blank">Bazaar Templatle</a></li>
      </ul>
    </columns>
    <columns small="6" large="4">
      <h2>
        Temp
      </h2>
      <ul>
        <li><a href="{{root}}/mobile-loan/vehicle-loans/auto1.html" target="_blank">Temp 1</a></li>
        <li><a href="{{root}}/mobile-loan/vehicle-loans/auto2.html" target="_blank">Temp 2</a></li>
      </ul>
    </columns>
  </row>
  <!-- Row 2 -->
  <row>
    <columns small="6" large="4">
      <h2>
        Business Loan
      </h2>
      <ul>
        <li><a href="{{root}}/mobile-loan/business/business.html" target="_blank">Business Loan 1</a></li>
      </ul>
    </columns>
    <columns small="6" large="4">
      <h2>
        Credit Card
      </h2>
      <ul>
        <li><a href="{{root}}/mobile-loan/credit-card-app/visa-submit.html" target="_blank">Visa Submit</a></li>
        <li><a href="{{root}}/mobile-loan/credit-card-app/visa-approval.html" target="_blank">Visa Approve</a></li>
      </ul>
    </columns>
    <columns small="6" large="4">
      <h2>
        Line of Credit
      </h2>
      <ul>
        <li><a href="{{root}}/mobile-loan/loc/loc-submit.html" target="_blank">LOC Submit</a></li>
        <li><a href="{{root}}/mobile-loan/loc/loc-approval.html" target="_blank">LOC Approve</a></li>
      </ul>
    </columns>
  </row>
  <!--  Row 3-->
  <row>
    <columns small="6" large="4">
      <h2>
        Pesonal Loan
      </h2>
      <ul>
        <li><a href="{{root}}/mobile-loan/personal/personal-submit.html" target="_blank">Personal Loan Submit</a></li>
        <li><a href="{{root}}/mobile-loan/personal/personal-approval.html" target="_blank">Personal Loan Approve</a></li>
      </ul>
    </columns>
    <columns small="6" large="4">
      <h2>
      RV Loans
      </h2>
      <ul>
        <li><a href="{{root}}/mobile-loan/rv-loans/rv-submit.html" target="_blank">RV Loan Submit</a></li>
        <li><a href="{{root}}/mobile-loan/rv-loans/rv-approval.html" target="_blank">RV Loan Approve</a></li>
      </ul>
    </columns>
    <columns small="6" large="4">
      <h2>
        Mobile Loan - Auto
      </h2>
      <ul>
        <li><a href="{{root}}/mobile-loan/vehicle-loans/auto1.html" target="_blank">Auto 1</a></li>
        <li><a href="{{root}}/mobile-loan/vehicle-loans/auto2.html" target="_blank">Auto 2</a></li>
        <li><a href="{{root}}/mobile-loan/vehicle-loans/auto3.html" target="_blank">Auto 3</a></li>
        <li><a href="{{root}}/mobile-loan/vehicle-loans/auto4.html" target="_blank">Auto 4</a></li>
        <li><a href="{{root}}/mobile-loan/vehicle-loans/auto5.html" target="_blank">Auto 5</a></li>
        <li><a href="{{root}}/mobile-loan/vehicle-loans/auto6.html" target="_blank">Auto 6</a></li>
      </ul>
    </columns>
  </row>
  <!--  Row 4-->
  <row>
    <columns small="6" large="4">
      <h2>
        Mobile Pay
      </h2>
      <ul>
        <li><a href="{{root}}/mobile-pay/android-pay-signup.html" target="_blank">Android Pay Signup</a></li>
        <li><a href="{{root}}/mobile-pay/apple-pay-signup.html" target="_blank">Apple Pay Signup </a></li>
      </ul>
    </columns>
    <columns small="6" large="4">
      <h2>
        Onboarding Emails
      </h2>
      <ul>
        <li><a href="{{root}}/onboarding/welcome-update.html" target="_blank">Welcome</a></li>
        <li><a href="{{root}}/onboarding/access-update.html" target="_blank">Access Update</a></li>
        <li><a href="{{root}}/onboarding/convenience-update.html" target="_blank">Convenience Update</a></li>
        <li><a href="{{root}}/onboarding/services-update.html" target="_blank">Services Update</a></li>
        <li><a href="{{root}}/onboarding/products-update.html" target="_blank">Products Update</a></li>
        <li><a href="{{root}}/onboarding/customize-update.html" target="_blank">Customize Update</a></li>
      </ul>
    </columns>
    <columns small="6" large="4">
      <h2>
        Visa Expiration
      </h2>
      <ul>
        <li><a href="{{root}}/unscheduled/visa-expiration/credit-card.html" target="_blank">Credit Card</a></li>
        <li><a href="{{root}}/unscheduled/visa-expiration/debit-card.html" target="_blank">Debit Card </a></li>
      </ul>
    </columns>
  </row>
  <!--  Row 5-->
  <row>
    <columns small="6" large="4">
      <h2>
        Single Emails
      </h2>
      <ul>

        <li><a href="{{root}}/contact-info-update.html" target="_blank">Contact Info Update </a></li>
        <li><a href="{{root}}/negative-balance.html" target="_blank">Negative Balance </a></li>
        <li><a href="{{root}}/pin-success.html" target="_blank">Pin Success </a></li>
        <li><a href="{{root}}/pin-failure.html" target="_blank">Pin Failure </a></li>
        <li><a href="{{root}}/visa-balance-transfer/visa-balance-member.html" target="_blank">Visa Balance Member </a></li>
        <li><a href="{{root}}/visa-balance-transfer/visa-balance-nonmember-a.html" target="_blank">Visa Balance Nonmember-A </a></li>
        <li><a href="{{root}}/visa-balance-transfer/visa-balance-nonmember-b.html" target="_blank">Visa Balance Nonmember-B </a></li>

      </ul>
    </columns>
    <columns small="6" large="4">
      <h2>
        Unscheduled Emails - Onboarding
      </h2>
      <ul>
        <li><a href="{{root}}/unscheduled/onboarding/welcome-update1.html" target="_blank">Welcome</a></li>
        <li><a href="{{root}}/unscheduled/onboarding/access-update2.html" target="_blank">Access Update</a></li>
        <li><a href="{{root}}/unscheduled/onboarding/convenience-update3.html" target="_blank">Convenience Update</a></li>
        <li><a href="{{root}}/unscheduled/onboarding/services-update4.html" target="_blank">Services Update</a></li>
        <li><a href="{{root}}/unscheduled/onboarding/products-update5.html" target="_blank">Products Update</a></li>
        <li><a href="{{root}}/unscheduled/onboarding/customize-update6.html" target="_blank">Customize Update</a></li>
      </ul>

    </columns>
    <columns small="6" large="4">
      <h2>
        Unscheduled Emails - Other
      </h2>
      <ul>
        <li><a href="{{root}}/unscheduled/birthday.html" target="_blank">Birthday</a></li>
        <li><a href="{{root}}/archive/non-foundation-pages/unsubscribe.html" target="_blank">Unsubscribe Page </a></li>
        <li><a href="{{root}}/archive/non-foundation-pages/unsubscribe-ty.html" target="_blank">Unsubscribe Thankyou </a></li>
      </ul>
    </columns>
  </row>
</container>

<!--  Row 6-->
<!-- <row>
  <columns small="6" large="4">
    <h2>
      Temp
    </h2>
    <ul>
      <li><a href="{{root}}/base-templates/promotion-template.html" target="_blank">Temp</a></li>
      <li><a href="{{root}}/base-templates/information-template.html" target="_blank">Temp </a></li>
    </ul>
  </columns>
  <columns small="6" large="4">
    <h2>
      Temp
    </h2>
    <ul>
      <li><a href="{{root}}/base-templates/promotion-template.html" target="_blank">Temp</a></li>
      <li><a href="{{root}}/base-templates/information-template.html" target="_blank">Temp </a></li>
    </ul>
  </columns>
  <columns small="6" large="4">
    <h2>
      Temp
    </h2>
    <ul>
      <li><a href="{{root}}/base-templates/promotion-template.html" target="_blank">Temp</a></li>
      <li><a href="{{root}}/base-templates/information-template.html" target="_blank">Temp </a></li>
    </ul>
  </columns>
</row> -->
