---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-elk-busonbday3-afcu-bus-com-20171030
matching-id: 20171030093300
label-name: Bus Onb 3 Day
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/day-1-welcome-02.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Thank you for choosing America First as your financial partner in business success! We're glad to have you as a member and look forward to helping your company achieve its goals.
      </p>

      <p>
        You can now take advantage of many free services designed to save you time and money, which is just one of the reasons we're among the nation’s top credit unions.
      </p>

      <p>
        During the next two years, we'll send you occasional emails to inform you of products and services that can help your bottom line, such as:
      </p>

      <ul>
        <li>Free online banking</li>
        <li>Free business bill pay</li>
        <li>Business Visa<sup>&reg;</sup> credit cards with cash-back &amp; rewards options</li>
        <li>Merchant services</li>
      </ul>

      <p>
        Keep an eye on your inbox—you'll be hearing again from us soon.
      </p>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
