---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-elk-busonb1yr-afcu-bus-com-20171030
matching-id: 20171030133400
label-name: Bus Onb 1 Yr
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/one-year.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Now that you've been with America First for a year, we wanted to remind you of some business solutions we provide to companies like yours:
      </p>

      <ul>
        <li><a href="https://www.americafirst.com/services/online-services/bill-pay.html#business-bill-pay"><strong>Free bill pay</strong></a> - Make payments to any person, vendor, or organization in the country quickly and securely.</li>
        <li><a href="https://www.americafirst.com/business/services/merchant-accounts.html"><strong>Merchant services</strong></a> - From countertop terminals to mobile credit card readers, and everything in between, we have the tools you need to maximize efficiency &amp; achieve financial success.</li>
        <li><a href="https://www.americafirst.com/business/services/ach.html"><strong>ACH &amp; direct deposit</strong></a> - Online management of your employees' payroll information that's easy to set up.</li>
        <li><a href="https://www.americafirst.com/business/services/wire-transfers.html"><strong>Wire transfers</strong></a> - Safely send and receive funds when you're doing business with international clients and companies.</li>
      </ul>

      <p>
        Visit <a href="https://www.americafirst.com/">americafirst.com</a> today to learn how America First membership can benefit your business.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/business/services.html">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
