---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-elk-busonb6mo-afcu-bus-com-20171030
matching-id: 20171030122400
label-name: Bus Onb 6 Month
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/six-months.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Whether your company needs a small credit line or a substantial commercial real
        estate loan, America First can help. Here are just a few of our premier financing
        products* that provide you with real benefits:
      </p>

      <ul>
        <li><a href="https://www.americafirst.com/business/business-loans/lines-of-credit.html"><strong>Business line of credit</strong></a> - Rest easy with overdraft protection for your checking account, or gain access to additional cashflow through a secured or unsecured loan.</li>
        <li><a href="https://www.americafirst.com/business/visa/credit-card.html"><strong>Business Visa<sup>®</sup> credit cards</strong></a> - In addition to up to 2% cash back, chip-enabled security and no annual fees, you'll also have access to Visa reporting tools, which transform transaction data into business intelligence.</li>
        <li><a href="https://www.americafirst.com/business/business-loans/business-vehicle-loans.html"><strong>Business vehicle loans</strong></a> - Purchase vehicles at competitive rates and up to 72-month terms.</li>
        <li><a href="https://www.americafirst.com/business/business-loans/equipment-machinery-loans.html"><strong>Equipment &amp; machinery loans</strong></a> - Finance equipment you need to maximize your company's productivity and profits.</li>
      </ul>

      <p>
        Let an America First business loan put you in position to achieve your financial goals. For more information, visit <a href="https://www.americafirst.com/">americafirst.com</a>.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/business/business-loans.html">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Must provide two years of tax information or YTD profit-and-loss statement prior to approval.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
