---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-elk-busonb2yr-afcu-bus-com-20171030
matching-id: 20171030132100
label-name: Bus Onb 2 Yr
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/two-years.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        It's been two years since you opened your America First business account and we want to ensure you'll have the funds you need for growth and expansion. Here are a few loan products* you can access:
      </p>

      <ul>
        <li><a href="https://www.americafirst.com/business/business-loans/lines-of-credit.html"><strong>Business line of credit</strong></a> - With a secured or unsecured SBA line of credit, you'll benefit from increased spending flexibility and protection against unexpected expenses. We also offer overdraft protection for your checking account.</li>
        <li><a href="https://www.americafirst.com/business/visa/credit-card.html"><strong>Business Visa<sup>®</sup> credit cards</strong></a> - Personalize with your company logo, get up to 2% cash back, and gain standardized transaction reports—all with low rates and no monthly fees.</li>
        <li><a href="https://www.americafirst.com/business/business-loans/business-vehicle-loans.html"><strong>Business vehicle loans</strong></a> - Take advantage of affordable financing for company cars or commercial vehicles.</li>
        <li><a href="https://www.americafirst.com/business/business-loans/equipment-machinery-loans.html"><strong>Equipment &amp; machinery loans</strong></a> - Find competitive rates on loans for all types of equipment and machinery, with no pre-payment charges or annual fees.</li>
      </ul>

      <p>
        Be sure to visit <a href="https://www.americafirst.com/">americafirst.com</a> and discover all the ways we can help your business grow and reach its full potential.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/business/business-loans.html">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Must provide two years of tax information or YTD profit-and-loss statement prior to approval.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
