---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-elk-busonb1week-afcu-bus-com-20171030
matching-id: 20171030104800
label-name: Bus Onb 1 Week
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/week-one.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        When you're running a business, it's important to have continuous access to
        current &amp; vital financial information. America First offers a variety of
        ways to track your funds, consider assets and check transactions:
      </p>

      <ul>
        <li><a href="https://www.americafirst.com/services/online-services/online-banking.html"><strong>Online banking</strong></a> - Log in &amp; manage your account 24/7. Set up preferences for the data you want &amp; get alerts about specific activities.</li>
        <li><a href="https://www.americafirst.com/services/mobile-services/mobile-banking.html"><strong>Mobile banking</strong></a> - 30 days after your account is open, you can deposit checks for free using our state-of-the-art app.</li>
        <li><a href="https://www.americafirst.com/services/other-services/speech-access.html"><strong>SpeechAccess<sup>™</sup></strong></a> - With a simple telephone call, you can monitor balances, transfer funds, even determine which checks have cleared.</li>
        <li><a href="https://www.americafirst.com/business/services/quickbooks.html"><strong>Quickbooks<sup>®</sup></strong></a> - We provide free &amp; unlimited connections to the information that drives your company.</li>
      </ul>

      <p>
        Visit <a href="https://www.americafirst.com/">americafirst.com</a> today and tap into your business account anytime, anywhere.
      </p>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
