---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-elk-busonb2week-afcu-bus-com-20171030
matching-id: 20171030120700
label-name: Bus Onb 2 Week
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/week-two.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        At America First, we offer a range of business solutions to help make sure the
        financial aspects of your company run as smoothly as possible, including:
      </p>

      <ul>
        <li><a href="https://www.americafirst.com/services/online-services/bill-pay.html#business-bill-pay"><strong>Free bill pay</strong></a> - Save time by quickly and safely sending payments to any person, vendor or organization in the country.</li>
        <li><a href="https://www.americafirst.com/business/services/merchant-accounts.html"><strong>Merchant services</strong></a> - Get better flexibility for credit &amp; debit card payments with our hardware and software innovations.</li>
        <li><a href="https://www.americafirst.com/business/services/ach.html"><strong>ACH &amp; direct deposit</strong></a> - Connect to your employees' payroll information instantly and securely.</li>
        <li><a href="https://www.americafirst.com/business/services/wire-transfers.html"><strong>Wire transfers</strong></a> - Send and receive guaranteed funds to & from people and countries around the world.</li>
      </ul>

      <p>
        Discover additional ways we can serve your business and enhance your convenience at <a href="https://www.americafirst.com/">americafirst.com</a>.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/business/services.html">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
