---
first-name: <%=rtEvent.ctx.FIRST_NAME%>
---

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/android-pay.jpg" alt="AFCU" />
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>
	     <p>You successfully added your America First Credit Union Visa<sup>&reg;</sup> card to Android Pay.</p>
       <p>By enabling this service, you can make simple &amp; secure purchases wherever contactless payments are accepted.</p>
       <p>It’s an easy way to pay. Plus, you’ll still get all the rewards and benefits of using your America First Visa.</p>
       <p><p>Here are two things to note about Android Pay:</p></p>
         <ul>
          <li>Enrolling will not change your America First card or account.</li>
          <li>If you lose your Android smartphone, you can still use your card because the number isn’t stored on the device itself.</li>
         </ul>
       <p>To learn more, visit <a href="https://www.americafirst.com/services/mobile-services/mobile-payments/android-pay.html" target="_blank" >americafirst.com/androidpay</a>. If you did not want to add Android Pay, please call the number listed on the back of your America First Visa immediately. </p>
       <p>Thank you for your membership.</p>

    </columns>
  </row>

</container>
