---
first-name: <%=rtEvent.ctx.FIRST_NAME%>
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/apple-pay.jpg" alt="AFCU" />
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>
      <p>Your America First Credit Union Visa<sup>®</sup> card was successfully added to Apple Pay.</p>
       <p>You can now use your Apple Pay-enabled device to make purchases in thousands of participating stores and apps, with more locations being added every day.</p>
       <p>Look for the contactless payment or Apple Pay icons at checkout:</p>
       <center><img src="https://assets.americafirst.com/images/banners/product/apple-pay-paywave.jpg" width="140" /> </center>
       <p>Apple Pay is a quick, easy, and safe way to pay. Plus, you still get all the rewards and benefits of using your America First Visa.</p>
       <p>Here are two things to note about Apple Pay:</p>
         <ul>
          <li>Enrolling will not change your America First card or account.</li>
          <li>If you lose your Apple device, you can still use your card, because your card number isn’t stored on the device itself.</li>
         </ul>
       <p>To learn more, visit <a href="https://www.americafirst.com/services/mobile-services/mobile-payments/apple-pay.html" target="_blank" >americafirst.com/applepay</a>. If you did not intend to add your card to Apple Pay, please call the number listed on the back of your America First Visa immediately.</p>
       <p>Thank you for your membership.</p>

    </columns>
  </row>

</container>
