---
subject: Show off your classic car & you could drive away with $500!
layout: unscheduled-email-layout
---

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://assets.americafirst.com/images/banners/email/photo-contest-02.jpg" alt="This is a placeholder image" />
      </center>
      <spacer size="45"></spacer>

      <h2>Hello <span class="droppable" id="name">[Insert First Name]</span>,</h2>

      <p>Ladies and gentlemen, start your engines!</p>

      <p>If you're a fan of vintage vehicles, show off your favorite by submitting an original photo and it could be featured in our 2018 America First classic car calendar. We're looking for the coolest wheels to be part of this project and we're letting the public decide who wins the grand prize.</p>
      <p>To enter, click the link below and follow the directions to upload your snapshot. Share your submission to get as many votes as possible, because the entries with the most will win America First Visa<sup>®</sup> gift cards:</p>

      <ul>
        <li>1st place—$500 card</li>
        <li>2nd place—$250 card</li>
        <li>3rd place—$100 card</li>
      </ul>

      <p>In addition to the voting, photos appearing in next year's calendar will get great giveaways, too. The 12 monthly featured autos will each receive $100 Visa gift cards, and our choice for the cover photo will get a $500 card as well.</p>

      <p>But hurry and enter—this contest ends on September 7!</p>

      <table class="spacer"><tbody><tr><td height="20px" style="font-size:14px;line-height:14px;">&#xA0;</td></tr></tbody></table>
      <center data-parsed="">
        <table class="button success radius float-center"><tr><td><table><tr><td><a href="https://www.facebook.com/americafirstfb/app/451684954848385?brandloc=DISABLE&app_data=chk-599b59cadba92">SUBMIT PHOTO</a></td></tr></table></td></tr></table>
      </center>

      <table class="spacer"><tbody><tr><td height="18px" style="font-size:18px;line-height:18px;">&#xA0;</td></tr></tbody></table>

    </columns>
  </row>

</container>
