<wrapper class="header">
  <container>
    <row>
      <columns small="12" large="12">
        <a href="https://www.americafirst.com/"><img class="float-left" src="https://assets.americafirst.com/images/banners/email/afcu-log-white-02.png" alt="" /></a>

      </columns>
    </row>
  </container>
</wrapper>
