<wrapper class="arc-image" >
  <container>
    <row>
      <columns valign="bottom">
        <!-- <spacer size="20"></spacer> -->
      </columns>
    </row>
  </container>
</wrapper>
<wrapper class="footer" >
  <container>
    <!-- <spacer size="20"></spacer> -->
    <row>
      <columns small="12" large="12" class="social-media-icons" valign="top">
        <center>
          <menu>
          <!-- bug fix for outlook, provide non null links -->
            <item href="https://www.facebook.com/americafirstfb"><img src="https://assets.americafirst.com/images/banners/email/afcu-facebook-icon.png" alt="Facebook" /></item>
            <item href="https://twitter.com/AFCU"><img src="https://assets.americafirst.com/images/banners/email/afcu-twitter-icon.png" alt="Twitter" /></item>
            <item href="https://www.instagram.com/americafirst/"><img src="https://assets.americafirst.com/images/banners/email/instagram-02.png" alt="Instagram" /></item>
            <item href="https://in.pinterest.com/americafirstcu/"><img src="https://assets.americafirst.com/images/banners/email/afcu-pinterest-icon.png" alt="Pinterest" /></item>
          </menu>
          <spacer size="10"></spacer>
        </center>
      </columns>
    </row>
    <row>
      <columns small="12" large="12">
        <p class="text-center">This is a promotional email. | <a  href="<%@ include view='server_url' %>/webApp/afcu_unsub?em=<%=escapeUrl(recipient.email) %>" target="_blank" _label="Opt-out link" _type="optout">Unsubscribe</a> from future emails. | <a href="<%@ value object='provider' xpath='@mirrorURL' %>/nl/jsp/m.jsp?c=<%=escapeUrl(cryptString(message.deliveryPartId.toString(16)+'|'+message.id.toString(16)))%>" class="mirror-page">View as web page</a>.</p>
      </columns>
    </row>
    <row>
      <columns class="left-column" small="12" large="6">
        <p class="text-right">COPYRIGHT © 2018 AMERICA FIRST CREDIT UNION.</p>
      </columns>
      <columns class="right-column" small="12" large="6">
        <p class="text-left"><a href="https://www.google.com/maps/place/4774+1300+W,+Ogden,+UT+84405" target="_blank">4774 South 1300 West, Riverdale, UT 84405</a></p>
      </columns>
    </row>
    <row>
      <columns small="12" large="12">
        <p class="text-center footer-address">Federally insured by NCUA.&nbsp;&nbsp;Equal Housing and Opportunity Lender.</p>
      </columns>
    </row>

    <row>
      <columns></columns>
      <columns  small="12" large="1" >
         <spacer size="10"></spacer>
         <center>
          <div class="fix-width">
            <a  href="https://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp" >
              <img class="float-center" src="https://www.americafirst.com/content/dam/emails/ehl-logo.png" alt="Equal Housing Lender" />
            </a>
            <img src="https://pixel.monitor1.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68" alt="Placeholder" />
          </div>
          </center>
          <spacer size="20"></spacer>
       </columns>

      <columns></columns>
    </row>
  </container>
</wrapper>
