---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUN5L4LNOV17
matching-id: 20171102161900
label-name: 5500 List - 401k Letter
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/401k.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello Member,</h2>

      <p>
        As a business owner, you understand how getting the best pricing &amp; performance from your assets
        can benefit your bottom line. The same is true when you evaluate your company’s retirement plan.
      </p>

      <p>
        We compared several 401(k) programs and found that we proposed significant fee reductions for
        clients, while helping them fulfill their fiduciary responsibilities.
      </p>

      <p>
        Below are actual quotes and the savings we offer:
      </p>

      <p>
        Company A: $5,000,000 in 401(k) assets—<strong>$32,447 annual fee reductions</strong><br />
        Company B: $2,000,000 in 401(k) assets—<strong>$10,800 lower annual fees</strong><br />
        Company C: $1,000,000 in 401(k) assets—<strong>$6,396 less in annual fees</strong>
      </p>

      <p>
        We’d like to share that same opportunity with you!
      </p>

      <p>
        For a limited time, you’ll get a $100 Visa<sup>®</sup> gift card* just for providing your organization’s retirement
        plan statement, fee schedule, and meeting with an advisor at America First Financial Solutions. It’s a
        small way of thanking you for taking the time to consider improving your company’s future.
      </p>

      <p>
        I’ll be calling you within a week to set up your no-cost, no-obligation consultation. In the meantime,
        if you have questions or concerns, please feel free to call me directly at (801) 215-3137. We appreciate
        your business.
      </p>

      <p>
        Sincerely,
      </p>

      <spacer size="15"></spacer>

      <p>
        Brandon Handy<br />
        America First Credit Union Financial Solutions
      </p>

      <spacer size="35"></spacer>

      <p>
        <sup>*Offer may be withdrawn at any time. Non-deposit investment products and services are offered through CUSO Financial Services, L.P. (CFS), a registered
          broker-dealer (Member FINRA/SIPC) and SEC Registered Investment Advisor. Products offered through CFS are not NCUA/NCUSIF or otherwise federally
          insured, are not guarantees or obligations of the credit union, and may involve investment risk, including possible loss of principal. Investment representatives
          are registered through CFS. The credit union has contracted with CFS to make non-deposit investment products and services available to members.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
