---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-black-friday-afcu-do-com-20171122
cid2: em-elk-black-friday-afcu-do-com-20171122
matching-id: 20171121133900
label-name: Black Friday
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/black-friday.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

            <p>
              It's the most wonderful time of year—especially when you're a member of America First!
            </p>

            <p>
              Black Friday is known for presenting amazing deals & we’re joining in with five offers* that are sure to benefit your financial health:
            </p>

            <ul>
              <li><strong>$250 Home Depot gift card</strong> when you open a no closing costs first mortgage, home equity term loan or HELOC</li>
              <li><strong>$100</strong> with every new RV loan—for gas & supplies</li>
              <li><strong>0.25% APY increase</strong> on certificate accounts</li>
              <li><strong>0.25% APR discount</strong> on personal loans</li>
              <li>Chance to win a <strong>Disneyland vacation</strong> by downloading free mobile banking and Card Guard<sup>®</sup> security</li>
            </ul>

            <p>
              Pick the one that suits you best or redeem them all, but hurry—these bargains only last from Black Friday to Cyber Monday!
            </p>

            <spacer size="35"></spacer>

            <center>
              <button class="success radius" href="https://www.americafirst.com/specials/black-friday-offers.html?cid={{cid}}">CLAIM MY BLACK FRIDAY DEAL</button>
            </center>

            <spacer size="35"></spacer>

            <p>
              <sup>*See <a href="https://www.americafirst.com/specials/black-friday-offers.html?cid={{cid2}}">americafirst.com</a> for rules, restrictions, terms &amp; conditions.</sup>
            </p>

    </columns>
  </row>

</container>
