---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUNBCKGONOV17
matching-id: 20171113145300
label-name: Brigham City Opening
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/grand-opening.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Another America First location is coming to your community, providing even better
        access &amp; convenience! Join the grand opening celebration for our new branch in
         the Brigham City Kent's Market (260 North Main Street), November 20 - December 2.
      </p>

      <p>
        We'll be doing daily drawings for $100 Visa<sup>®</sup> gift cards &amp; we'll give away:
      </p>

      <ul>
        <li>A $25 Kent's gift card for each new account*</li>
        <li>An Apple Watch Sport</li>
        <li>More fantastic America First prizes</li>
      </ul>

      <p>
        Be sure to check out the unique design & layout of America First Credit Union at 260 North
        Main in Brigham. We’re available to meet your complete financial needs at extended hours,
        9 a.m. to 7 p.m., Monday through Saturday.
      </p>

      <spacer size="35"></spacer>

      <p>
        <sup>*Includes new checking and savings accounts. Terms & eligibility apply. Must be 18 or older to enter drawings and contests.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
