---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: cid=em-lk-visaincrease-afcu-v-us-20171205
cid2: cid=em-btn-false-afcu-v-us-20171205
matching-id: 20171129155600
label-name: Increase Visa Usage
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/business-visa-vacation.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        As a business member of America First, your Visa<sup>®</sup> cards are absolutely loaded with the market’s best benefits, such as cash back, rewards, Card Guard<sup>®</sup> mobile security &amp; advanced reporting tools.
      </p>

      <p>
        But that's not all—because this holiday season, you'll have the chance to win a dream Disneyland<sup>®</sup>
        vacation from Get Away Today! You'll be automatically entered for every 10 credit or debit card transactions.
      </p>

      <p>
        Plus, you can increase your chances by:
      </p>

      <ul>
        <li>Opening a new Business Visa credit card = 10 additional entries</li>
        <li>Increasing your Business Visa limit by $3,000+ = 10 more</li>
        <li>Opening a new business checking account = another 10 tries</li>
      </ul>

      <p>
        Discover how magical this time of year can be for business account holders at <a href="https://www.americafirst.com/specials/get-away-today-visa.html?cid={{cid}}">americafirst.com</a>.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/specials/get-away-today-visa.html?cid={{cid2}}">VISA VACATION GIVEAWAY</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
