---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-open4business-afcu-bus-us-20171205
cid2: em-elk-open4business-afcu-bus-us-20171205
matching-id: 20171129161200
label-name: Open For Your Business
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/open-for-business.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Whether you're starting your first company or you're a third-generation business owner, America First is here to help you grow!
      </p>

      <p>
        We offer a variety of products & services specifically designed to give you full-featured data management, as well as the affordable financing you need to reach your goals:
      </p>

      <ul>
        <li><strong>Small business loans</strong> - increase your inventory or get some much-needed capital with SBA financing</li>
        <li><strong>Commercial loans</strong> - expand your business or acquire important equipment &amp; machinery</li>
        <li><strong>Business accounts</strong> - open savings, checking &amp; certificate accounts to earn competitive dividends</li>
      </ul>

      <p>
        Visit <a href="https://www.americafirst.com/content/afcu/en/business/business-services.html?cid={{cid2}}"> americafirst.com/business</a>, stop by a branch, or call 1-877-AFCUBIZ for details about business membership.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/content/afcu/en/business/business-services.html?cid={{cid}}">GROW YOUR BUSINESS</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
