---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUNS2SPNOV17
matching-id: 20171114090400
label-name: Soul2Soul Presale
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/soul-2-soul.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Tim McGraw &amp; Faith Hill are extending their Soul2Soul tour and coming back to the Vivint Smart Home
        Arena in July of 2018. America First Credit Union wants to give you the chance to buy your tickets before
        they're available to the public!
      </p>

      <p>
        The pre-sale starts promptly at <strong>10 a.m. on Wednesday, November 15</strong> &amp; ends on Thursday, November
        16 at 10 p.m.
      </p>

      <p>
        And this is just one of many exclusive opportunities for members to get tickets to some of the
        hottest concerts before anyone else.
      </p>

      <p>
        Click the link below and enter the promotion code <strong>AFCU</strong>—then you won't miss your chance at the best seats in
        the house!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www1.ticketmaster.com/event/1E005359C1AA1818?CAMEFROM=CFC_VSHA_EMAIL_PRESALE">GET MY TICKETS</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
