---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-skip-a-payment-afcu-do-svc-20171116
matching-id: 20171124160300
label-name: Skip A Payment
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/skip-a-payment.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Everyone knows it's better to give than receive but, as a member of America First, you can do both!
      </p>

      <p>
        Skipping a loan payment* is only $25 and, when you take advantage of this option during the holidays, we’ll
        contribute <strong>$5 to the America First Charitable Foundation</strong> that assists the less-fortunate.
      </p>

      <p>
        Then you'll be free to go shopping, get caught up on your bills—anything you see fit. Plus, you'll be helping
        someone in need. To see if you qualify:
      </p>

      <ul>
        <li>Visit a branch</li>
        <li>Log in to online banking and click Other Services</li>
        <li>Or call <strong>1-800-999-3961</strong></li>
      </ul>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/services/other-services/skip-payment.html?cid={{cid}}">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Terms and conditions apply. Not all loans are eligible. The America First Credit Union
          Charitable Foundation is a Utah-based, non-profit corporation organized for charitable purposes.</sup>
      </p>

    </columns>
  </row>

</container>
