---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-lk-false-afcu-o-com-20171128
cid2: em-btn-omainssseminar-afcu-o-com-20171128
matching-id: 20171127141200
label-name: SS Seminar Ogden Main
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/social-security-seminar.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Join us on <strong>Thursday, December 7 from noon to 1 p.m.</strong> at the Ogden Main branch (3650 Wall Avenue) for a free educational seminar about successfully managing your Social Security benefits.
      </p>

      <p>
        An advisor from America First Financial Solutions will provide expert guidance and answers to the following questions:
      </p>

      <ul>
        <li>What are spousal benefits and who qualifies for them?</li>
        <li>At what age should I start collecting Social Security?</li>
        <li>Is Social Security enough for retirement?</li>
        <li>How can I fill the income gap?</li>
        <li>How is Social Security taxed?</li>
        <li>What are survivor benefits?</li>
      </ul>

      <p>
        Café Rio will be catering and there is no cost to attend, but seating is limited. Please RSVP today on the
        <a href="https://news.americafirst.com/calendar-events/make-social-security-seminar-11/?cid={{cid}}">Events &amp; Seminars</a>
        page, visit the location listed below, or call (801) 827-8809.
      </p>

      <p class="text-center">
        <strong><em>Make the Most of Social Security</strong><br>
          Thursday, December 7, 12 - 1 p.m.<br>3650 Wall Avenue, Ogden, UT 84403</em>
        </p>

        <spacer size="35"></spacer>

        <center>
          <button class="success radius" href="https://news.americafirst.com/calendar-events/make-social-security-seminar-11/?cid={{cid2}}">RSVP</button>
        </center>
      <spacer size="35"></spacer>

    </columns>
  </row>

</container>
