---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUNSWCNOV17
matching-id: 20171128165500
label-name: Star Wars Contest
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/the-last-jedi.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        <em>Star Wars: The Last Jedi</em> is one of the most anticipated movie events of the year & America First is giving you the chance to see it on premiere day!
      </p>

      <p>
        Simply click the button below and enter to win tickets for an exclusive screening scheduled on <strong>Friday, December 15</strong>.
      </p>

      <p>
        You can enter every day this week. And may the Force be with you.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.facebook.com/americafirstfb/app/143103275748075/">CLICK HERE TO ENTER</button>
      </center>

      <spacer size="45"></spacer>

      <center>
        <img src="https://www.americafirst.com/content/dam/emails/private-screening.jpg"/>
      </center>

      <spacer size="35"></spacer>

    </columns>
  </row>

</container>
