---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-warmthesoles-afcu-o-com-20171206
matching-id: 20171129120200
label-name: Warm the Soles
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/warm-the-soles.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        One of America First's favorite holiday traditions is back—Warm the Soles, our annual program that raises funds to purchase new shoes for schoolchildren in need.
      </p>

      <p>
        You can help by contributing to this worthwhile endeavor, sure to brighten the season for many students who might otherwise go without.
      </p>

      <p>
        Make your tax-deductible donation online, by mail, or visit any America First branch.
      </p>

      <p>
        Warm your heart this year by giving to Warm the Soles.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/about/community-involvement/charitable-outreach-programs/warm-the-soles.html?cid={{cid}}">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>Warm the Soles is operated by the America First Credit Union Charitable Foundation, a Utah-based non-profit
          corporation organized for charitable purposes. Donations are accepted through December 31, 2017.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
