---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-youthaccounts-afcu-do-us-20171208
matching-id: 20171129141500
label-name: Youth Accounts
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/youth-account.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        There's never been a better time to teach your kids how to save! Throughout December, when you open new
        youth & student savings accounts, America First will match* your initial deposit, dollar for dollar, up to $25.
      </p>

      <p>
        Besides the extra cash, you'll benefit from:
      </p>

      <ul>
        <li>No annual fees</li>
        <li>No minimum-deposit levels</li>
        <li>Competitive dividends</li>
        <li>Easy access to funds</li>
        <li>And more</li>
      </ul>

      <p>
        Plus, when you stop by your local branch, the kids can take part in our coloring contest.
        It runs until December 27 and there's a $25 prize for each winner.
      </p>

      <p>
        It definitely pays to start saving with America First Credit Union.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/accounts/savings-accounts/student-savings-account.html?cid={{cid}}">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*Eligibility and conditions apply</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
