{{logic-tag}}
<container>

  <spacer size="30"></spacer>

  <row>
    <columns>

      <center>
        <img class="header-image" src="https://assets.americafirst.com/images/banners/email/mobile-rv.jpg" alt="AFCU">
      </center>

      <spacer size="10"></spacer>

      <h2 class="text-center header-title"><strong>Your Application was Submitted Successfully</strong></h2>

      <h2>Hello {{first-name}},</h2>

      <p>
        Thank you for applying for an America First RV loan! Your requested loan amount is ${{loan-amount}}
        with a {{loan-term}}-month term. After reviewing your application, an America First loan officer will
        be in touch via the email address or phone number you provided. If you prefer to contact us, please call
        1-844-550-2328 and refer to confirmation number {{conf-number}}. We appreciate your membership.
      </p>

    </columns>
  </row>

</container>
