---
first-name: <%=recipient.firstName%>
layout: informational-layout
cid: EMUNMAAND01JAN18
matching-id: 20170117133800
label-name: Mobile App Android-01
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/sunset-android-01.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        The mobile banking version on your device will not be supported after <strong>February 14, 2018</strong>. To avoid any disruption in service, visit the Google Play Store and update to the latest version.
      </p>

      <p>
        Our latest free mobile banking enhancement includes a sleek new interface & improved security features.
      </p>

      <p>
        With your America First Android app, you can easily:
      </p>

      <ul>
        <li>Prioritize information</li>
        <li>Pay the bills</li>
        <li>Manage your budget</li>
        <li>Log in to multiple accounts</li>
        <li>Accomplish much more</li>
      </ul>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://play.google.com/store/apps/details?id=com.afcu.mobilebanking" target="_blank">UPDATE MY APP</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
