---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUNMAIPHONE01JAN18
matching-id: 20170117120600
label-name: Mobile App iPhone-01
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/sunset-iphone-01.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        It's time for an upgrade!
      </p>

      <p>
        Our latest free mobile banking enhancement includes a sleek new interface & improved security features—and it's ready to download.
      </p>

      <p>
        With your America First iPhone app, you can easily:
      </p>

      <ul>
        <li>Prioritize information</li>
        <li>Pay the bills</li>
        <li>Manage your budget</li>
        <li>Log in to multiple accounts</li>
        <li>Accomplish much more</li>
      </ul>

      <p>
        The mobile banking version on your device will not be supported after <strong>March 7, 2018</strong>, so visit the App Store today and complete your update for a better member experience!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://itunes.apple.com/us/app/america-first-credit-union-mobile-banking/id450324535?mt=8" target="_blank">UPDATE MY APP</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
