---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUNMAIPHONE02JAN18
matching-id: 20170117134500
label-name: Mobile App iPhone-02
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/sunset-iphone-02.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        The mobile banking version on your device will not be supported after <strong>March 7, 2018</strong>, so now's the time to update your iPhone!
      </p>

      <p>
        Download our enhanced app for expanded security features, a more customizable user interface and other benefits.
      </p>

      <p>
        Mobile banking gives you the power to:
      </p>

      <ul>
        <li>Make mobile deposits</li>
        <li>Transfer funds</li>
        <li>Track spending</li>
        <li>Apply for a loan</li>
        <li>And much more</li>
      </ul>

      <p>
        Visit the App Store & upgrade your member experience today!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://itunes.apple.com/us/app/america-first-credit-union-mobile-banking/id450324535?mt=8" target="_blank">UPDATE MY APP</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
