---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-visaexpirationcredit-afcu-v-svc-2017925
matching-id: 201710041656
---
  <container>
    <spacer size="30"></spacer>

    <row>
      <columns>
        <center>
          <img src="https://www.americafirst.com/content/dam/emails/picture-perfect.jpg" />
        </center>

        <spacer size="45"></spacer>

        <h2>Hello {{first-name}},</h2>

        <p>
          Now’s the perfect time to renew your low-rate America First Visa<sup>&reg;</sup> &mdash; because we’re offering a great opportunity to make it uniquely you with free Picture Perfect customization!
        </p>

        <p>
          Your credit card will expire in the near future and we’ll be sending you a new one. But before we do, you can add* your favorite image to your Visa without a cost!
        </p>

        <p>
          Designing your card with Picture Perfect is simple:
        </p>

        <ol>
          <li>Sign in to Online Banking and click on the Other Services tab</li>
          <li>Under the Account Services section, select Personalize Your Visa Credit/Debit Card</li>
          <li>Follow the easy steps from there and submit</li>
        </ol>

        <p>
          That’s all it takes! Plus, you’ll be getting the card that gives you more:
        </p>

        <ul>
          <li>No annual or balance-transfer fees</li>
          <li>Free FICO<sup>&reg;</sup> Score inside Online Banking</li>
          <li>Free ABC Deals™ — additional cash-back opportunities</li>
          <li>Extra security &amp; control with our Card Guard<sup>&reg;</sup>
            mobile app, EMV chip technology, Mobile Wallet, and 24/7 fraud
            protection</li>
        </ul>

        <p>So don’t wait – upgrade, enhance &amp; personalize your low-rate
          America First Visa credit card today.
        </p>

        <spacer size="35"></spacer>

        <center>
          <button class="success radius" href="https://www.americafirst.com/visa/visa-platinum-card.html?cid={{cid}}">LEARN MORE</button>
        </center>

        <spacer size="35"></spacer>

        <p>
          <sup>*Acceptable use & terms apply.</sup>
        </p>

        <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
        <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

      </columns>
    </row>

  </container>
