---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-shred-day-o-afcu-o-com-20171120
matching-id: 20171120100400
label-name: Shred Day Ogden
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/shred-days.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Join us on <strong>Saturday, December 2</strong> at your local America First branch for a free shredding event,
        where you can destroy sensitive documents regarding your financial, medical &amp; other personal information.
      </p>

      <p>
        We'll be there from <strong>9 a.m. to noon</strong>. Don't miss this valuable opportunity to safely dispose of old bills, receipts, account statements,
        canceled checks and any other identifying paperwork.
      </p>

      <spacer size="10"></spacer>

      <h2 class="text-center">OGDEN 20TH STREET BRANCH</h2>

      <p class="text-center">Saturday, December 2<br> 9 a.m. to 12 p.m.<br> 1979 Washington Boulevard
      </p>

      <spacer size="30"></spacer>

      <center>
        <button class="warning radius" href="https://www.americafirst.com/about/branch-details.html?siteNo=273?cid={{cid}}">LOCATION DETAILS</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>Individuals are allowed up to five boxes at a time. Those with more than five will have their
          first set accommodated, then must get back in line for further service.</sup>
      </p>

    </columns>
  </row>

</container>
