{{logic-tag}}
<container>
  <spacer size="30"></spacer>
  <row>
    <columns>
      <center>
        <img src="https://assets.americafirst.com/images/banners/email/mobile-business.jpg" alt="AFCU" />
      </center>
      <spacer size="45"></spacer>
      <h2 class="text-center header-title">Your Application was Submitted Successfully</h2>

      <h2 >Hello {{first-name}},</h2>
      <p>
        Thank you for choosing America First financing. One of our expert representatives
        will contact you to finalize the details of your application. If you prefer to call us,
        please dial 1-844-550-2328 and refer to confirmation number {{conf-number}}.
        We appreciate your membership.
      </p>

    </columns>
  </row>
</container>
{{logic-tag-end}}
