---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUNOBD1WMAR18
matching-id: 20180313161600
label-name: Onboarding Offers-Day 1-Welcome
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/day-1-welcome-02.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

<p>
  Thank you for choosing America First! We're glad to have you as a member and look forward to helping you achieve your financial goals.
</p>

<p>
  You can now take advantage of many free services designed to save you time and money, which is just one of the reasons we're among the nation’s top credit unions.
</p>

<p>
  During your first year of membership, we'll send you a few introductory emails with:
</p>

<ul>
  <li>Explanations of products and services</li>
  <li>Money-management tips</li>
  <li>Exclusive offers</li>
</ul>

<p>
  Keep an eye on your inbox, because you'll be hearing again from us soon.
</p>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
