---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
matching-id: 20180314102800
label-name: Onboarding Day-365
cid: EMUNOBD365MAR18
cid-offer1: em-elk-onboarding_offer1-afcu-ac-svc-2018309
cid-offer2: em-elk-onboarding_offer2-afcu-ac-svc-2018309
cid-offer3: em-elk-onboarding_offer3-afcu-ac-svc-2018309
cid-offer4: em-elk-onboarding_offer4-afcu-ac-svc-2018309
cid-offer5: em-elk-onboarding_offer5-afcu-ac-svc-2018309
cid-offer6: em-elk-onboarding_offer6-afcu-ac-svc-2018309
cid-offer7: em-elk-onboarding_offer7-afcu-ac-svc-2018309
cid-offer8: em-elk-onboarding_offer8-afcu-ac-svc-2018309
cid-offer9: em-elk-onboarding_offer9-afcu-ac-svc-2018309
cid-offer10: em-elk-onboarding_offer10-afcu-ac-svc-2018309
cid-offer11: em-elk-onboarding_offer11-afcu-ac-svc-2018309
cid-offer12: em-elk-onboarding_offer12-afcu-ac-svc-2018309
cid-offer13: em-elk-onboarding_offer13-afcu-ac-svc-2018309
cid-offer14: em-elk-onboarding_offer14-afcu-ac-svc-2018309
cid-offer15: em-elk-onboarding_offer15-afcu-ac-svc-2018309
cid-offer16: em-elk-onboarding_offer16-afcu-ac-svc-2018309
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/day-360.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Since you joined America First, the earth made an entire revolution around the sun.
        And we wanted to show our appreciation for being a member through all four seasons
        with these personalized recommendations:
      </p>

      <p>
        {{> offer-1
            logic-tag="<%if( targetData.OFFER1_ID == 1.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-2
            logic-tag="<%if( targetData.OFFER1_ID == 2.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-3
            logic-tag="<%if( targetData.OFFER1_ID == 3.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-4
            logic-tag="<%if( targetData.OFFER1_ID == 4.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-5
            logic-tag="<%if( targetData.OFFER1_ID == 5.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-6
            logic-tag="<%if( targetData.OFFER1_ID == 6.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-7
            logic-tag="<%if( targetData.OFFER1_ID == 7.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-8
            logic-tag="<%if( targetData.OFFER1_ID == 8.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-9
            logic-tag="<%if( targetData.OFFER1_ID == 9.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-10
            logic-tag="<%if( targetData.OFFER1_ID == 10.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-11
            logic-tag="<%if( targetData.OFFER1_ID == 11.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-12
            logic-tag="<%if( targetData.OFFER1_ID == 12.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-13
            logic-tag="<%if( targetData.OFFER1_ID == 13.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-14
            logic-tag="<%if( targetData.OFFER1_ID == 14.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-15
            logic-tag="<%if( targetData.OFFER1_ID == 15.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-16
            logic-tag="<%if( targetData.OFFER1_ID == 16.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
      </p>

        <spacer size="10"></spacer>

      <p>
        {{> offer-1
            logic-tag="<%if( targetData.OFFER2_ID == 1.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-2
            logic-tag="<%if( targetData.OFFER2_ID == 2.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-3
            logic-tag="<%if( targetData.OFFER2_ID == 3.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-4
            logic-tag="<%if( targetData.OFFER2_ID == 4.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-5
            logic-tag="<%if( targetData.OFFER2_ID == 5.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-6
            logic-tag="<%if( targetData.OFFER2_ID == 6.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-7
            logic-tag="<%if( targetData.OFFER2_ID == 7.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-8
            logic-tag="<%if( targetData.OFFER2_ID == 8.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-9
            logic-tag="<%if( targetData.OFFER2_ID == 9.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-10
            logic-tag="<%if( targetData.OFFER2_ID == 10.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-11
            logic-tag="<%if( targetData.OFFER2_ID == 11.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-12
            logic-tag="<%if( targetData.OFFER2_ID == 12.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-13
            logic-tag="<%if( targetData.OFFER2_ID == 13.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-14
            logic-tag="<%if( targetData.OFFER2_ID == 14.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-15
            logic-tag="<%if( targetData.OFFER2_ID == 15.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-16
            logic-tag="<%if( targetData.OFFER2_ID == 16.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
      </p>

<spacer size="10"></spacer>

      <p>
        {{> offer-1
            logic-tag="<%if( targetData.OFFER3_ID == 1.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-2
            logic-tag="<%if( targetData.OFFER3_ID == 2.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-3
            logic-tag="<%if( targetData.OFFER3_ID == 3.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-4
            logic-tag="<%if( targetData.OFFER3_ID == 4.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-5
            logic-tag="<%if( targetData.OFFER3_ID == 5.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-6
            logic-tag="<%if( targetData.OFFER3_ID == 6.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-7
            logic-tag="<%if( targetData.OFFER3_ID == 7.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-8
            logic-tag="<%if( targetData.OFFER3_ID == 8.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-9
            logic-tag="<%if( targetData.OFFER3_ID == 9.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-10
            logic-tag="<%if( targetData.OFFER3_ID == 10.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-11
            logic-tag="<%if( targetData.OFFER3_ID == 11.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-12
            logic-tag="<%if( targetData.OFFER3_ID == 12.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-13
            logic-tag="<%if( targetData.OFFER3_ID == 13.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-14
            logic-tag="<%if( targetData.OFFER3_ID == 14.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-15
            logic-tag="<%if( targetData.OFFER3_ID == 15.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
        {{> offer-16
            logic-tag="<%if( targetData.OFFER3_ID == 16.00 ){ %>"
            logic-end-tag="<% }%>"
        }}
      </p>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
