---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-unica_onboarding_day7-afcu-ac-svc-2018308
label-name: Unica Onboarding - Day 7
---
  <container>

    <spacer size="30"></spacer>

    <row>
      <columns>
        <center>
          <img src="https://www.americafirst.com/content/dam/emails/day-7.jpg" />
        </center>

        <spacer size="45"></spacer>

        <h2>Hello {{first-name}}</h2>

        <p>
          As a member and owner of America First, the benefits, savings &amp; advantages offered by your credit union are just a click away.
        </p>

        <p>
          By now, you should have your account number and personal identification number (PIN). These tools give you complete access and account management from just about
          anywhere—especially with our free, award-winning Online Banking &amp; Mobile Banking services.
        </p>

        <p>
          Simply log in with this information and we’re at your fingertips.
        </p>

        <p>
          And remember, our professional and always helpful member service representatives are available if you have a question.
        </p>

        <p>
          Just call the number on the back of your new America First Visa<sup>&reg;</sup> card or send an email to <a href="mailto:support@americafirst.com">support@americafirst.com.</a>
        </p>

        <spacer size="30"></spacer>

        <center>
          <button class="primary radius" href="https://www.americafirst.com/new-member/index.cfm?cid={{cid}}" target="_blank">LEARN MORE</button>
        </center>

        <spacer size="30"></spacer>

      </columns>
    </row>

  </container>
