---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-unica_onboarding_day14-afcu-ac-svc-2018308
label-name: Unica Onboarding - Day 14
---

  <container>

    <spacer size="30"></spacer>

    <row>
      <columns>
        <center>
          <img src="https://www.americafirst.com/content/dam/emails/day-14.jpg" />
        </center>

        <spacer size="45"></spacer>

        <h2>Hello {{first-name}},</h2>

        <p>
          Managing your finances however &amp; whenever you choose is something we know you prioritize.
        </p>

        <p>
          Which is why America First is dedicated to providing you with premier—and free—services helping you do just that:
        </p>

        <ul>
          <li>Free Online Banking with free Online Bill Pay</li>
          <li>Free Mobile Banking with free Mobile Deposit</li>
          <li>Free SpeechAccess<sup>&trade;</sup> Telephone Banking</li>
          <li>No-fee withdrawals at 43,000 ATMs worldwide</li>
          <li>Over 100 branch offices</li>
          <li>Free online planning tools &amp; resources, like vehicle-value generators, financial calculators for mortgages &amp; education, and countless other benefits</li>
        </ul>

        <p>
          Click below to discover how we make membership in your credit union as convenient and cost-free as possible.
        </p>

        <spacer size="25"></spacer>

        <center>
          <button class="primary radius" href="https://www.americafirst.com/new-member/index.cfm?cid={{cid}}" target="_blank">LEARN MORE</button>
        </center>

        <spacer size="25"></spacer>

      </columns>
    </row>

  </container>
