---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-unica_onboarding_day35-afcu-ac-svc-2018308
label-name: Unica Onboarding-Day 35
---

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/day-60.jpg"/>
      </center>

      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        It’s time to customize, personalize &amp; make your new America First Credit Union account, well, more like you!
      </p>

      <p>
        You can design your own Visa<sup>&reg;</sup> with Picture Perfect, our free online service that helps you place your own photo directly on your debit, credit, and even gift cards.
      </p>

      <p>
        Next, Online Banking from America First can be tailored to suit your unique needs.
      </p>

      <p>
        You can create a personal password to log in, name your different accounts, assign made-to-order alerts for your activities, schedule transfers, and so much more.
      </p>

      <p>
        Take advantage of all Online Banking has to offer and personalize your America First experience.
      </p>

      <spacer size="30"></spacer>

      <center>
        <button class="primary radius" href="https://www.americafirst.com/new-member/index.cfm?cid={{cid}}" target="_blank">LEARN MORE</button>
      </center>

      <spacer size="30"></spacer>

    </columns>
  </row>

</container>
