---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-unica_onboarding_day28-afcu-ac-svc-2018308
label-name: Unica Onboarding-Day 28
---

  <container>

    <spacer size="30"></spacer>

    <row>
      <columns>
        <center>
          <img src="https://www.americafirst.com/content/dam/emails/day-180.jpg" />
        </center>
        <spacer size="45"></spacer>

        <h2>Hello {{first-name}},</h2>

        <p>
          We have financing for everything you need, during all of life’s many stages—from low-rate auto and RV loans, to no-annual-fee Visa<sup>&reg;</sup> credit cards, to affordable mortgages &amp; home equity loans.
        </p>

        <p>
          There’s more: personal loans, auto loan refinancing, savings-secured loans, line-of-credit overdraft protection, consolidation loans, as well as additional products. And, of course, we’ll provide them with the best rates, lowest payments, and most flexible
          terms around.
        </p>

        <p>
          Your credit union is also your first choice in payment options, with Visa debit, credit, and gift cards. Plus, you’ll have access to free Online &amp; Mobile Banking.
        </p>

        <p>
          If loans aren’t your immediate need, we have an assortment of certificate accounts to maximize your savings.
        </p>

        <p>
          And, if you’re a business owner, whether your company is a small mom &amp; pop shop or one of the region’s largest firms, you need the resources and expertise of a leading financial institution—America First Credit Union.
        </p>

        <spacer size="25"></spacer>

        <center>
          <button class="primary radius" href="https://www.americafirst.com/new-member/index.cfm?cid={{cid}}" target="_blank">LEARN MORE</button>
        </center>

        <spacer size="25"></spacer>

      </columns>
    </row>

  </container>
