---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-unica_onboarding_day21-afcu-ac-svc-2018308
label-name: Unica Onboarding-Day 21
---
  <container>
    <spacer size="30"></spacer>

    <row>
      <columns>
        <center>
          <img src="https://www.americafirst.com/content/dam/emails/day-360.jpg" />
        </center>

        <spacer size="45"></spacer>

        <h2>Hello {{first-name}},</h2>

        <p>
          We want to ensure you are getting the most out of your membership in America First Credit Union. After all, you deserve our full range of benefits,
          including some online services you may not be utilizing but definitely save you time &amp; money:
        </p>

        <ul>
          <li>Free direct deposit</li>
          <li>Free automated payments (ACH)</li>
          <li>Free online check viewing</li>
          <li>Free online statements</li>
          <li>Free Mobile Banking with free Mobile Deposit</li>
          <li>Free Popmoney person-to-person payments</li>
          <li>Many additional products that don’t cost you a cent to use</li>
        </ul>

        <p>
          Become familiar with these exceptional features and start taking advantage of them today.
        </p>

        <spacer size="25"></spacer>

        <center>
          <button class="primary radius" href="https://www.americafirst.com/new-member/index.cfm?cid={{cid}}" target="_blank">LEARN MORE</button>
        </center>

        <spacer size="25"></spacer>

      </columns>
    </row>

  </container>
