---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-elk-unica_onboarding_welcome-afcu-o-r-2018308
cid2: em-btn-unica_onboarding_welcome-afcu-o-r-2018308
label-name: Unica Onboarding - Welcome
---
  <container>

    <spacer size="30"></spacer>

    <row>
      <columns>
        <center>
          <img src="https://www.americafirst.com/content/dam/emails/day-1-welcome-02.jpg" />
        </center>

        <spacer size="45"></spacer>

        <h2>Hello {{first-name}},</h2>

        <p>
          Thank you for choosing America First, one of the country’s top credit unions &amp; your trusted partner in achieving financial health – for a lifetime.
        </p>

        <p>
          You’ve earned some significant benefits, including a wide array of
          <strong>free</strong> services designed to save you time &amp; money. Did we mention that these are <strong>free</strong>?
        </p>

        <p>
          Plus, everything we offer is designed to enhance your service experience and we’re always working to make money-management more affordable.
        </p>

        <p>
          Visit <a href="https://www.americafirst.com/new-member?cid={{cid}}" target="_blank">
        americafirst.com/new-member</a> to get acquainted with America First.
        </p>

        <p>
          And please stay tuned for occasional emails that will fill you in on all being a member of your credit union brings.
        </p>

        <spacer size="25"></spacer>

        <center>
          <button class="primary radius" href="https://www.americafirst.com/new-member?cid={{cid2}}">LEARN MORE</button>
        </center>

        <spacer size="25"></spacer>

      </columns>
    </row>

  </container>
