---
first-name: <%= recipient.firstName %>
product-name: <%= targetData.PRODUCT_NAME %>
url: <%= targetData.URL %>
layout: unscheduled-email-layout
cid: em-btn-bazaarvoice-afcu-o-com-2017925
matching-id: 20171005100900
label-name: bazaarvoice review
---
<container>
  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/share-thoughts.jpg" />
      </center>

      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>


        <p>Thank you for choosing America First Credit Union for your {{product-name}}.</p>
        <p>We would sincerely appreciate you taking a few minutes to share your experience
        with us so we can better meet your financial needs.</p>
        <p>Your review can help other members make an informed decision. We appreciate your feedback!</p>

      <spacer size="35"></spacer>

      <center>
        <button class="warning radius" href="{{url}}?cid={{cid}}">
          WRITE A REVIEW NOW <span class="arrow-right"></span>
        </button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
