---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: EMUNBOANOV17
matching-id: 20171127143800
label-name: Bday Offer A
---
  <container>
    <spacer size="30"></spacer>

    <row>
      <columns>
        <center>
          <img src="https://www.americafirst.com/content/dam/emails/happy-birthday-to-you.jpg"/>
        </center>

        <spacer size="45"></spacer>

        <h2>Hello {{first-name}},</h2>

        <p>Since you've successfully made another trip around the sun, we want to celebrate with a special offer, just for you!</p>

        <p>
          Stop by your local America First branch to claim* your gift:
        </p>

        <p>
          <strong>Get a new America First Visa<sup>®</sup> credit card and we'll pay the first $50 in transactions</strong>
        </p>

        <p>or</p>

        <p>
          <strong>Open a 12-month certificate or dedicated savings and we'll deposit $25 into your account</strong>
        </p>

        <p>
          But don't delay, because this opportunity expires in 30 days. And from all of us here at America First, thanks for your membership &amp; have a happy birthday!
        </p>

        <spacer size="35"></spacer>

        <p>
          <sup>*Cannot be combined with any other offer. Must redeem within 30 days of email sent date. Applies to one new loan or one new
            savings product only. Loans are available on approved credit and are subject to conditions & eligibility. Savings offer is valid for
            certificate and dedicated savings accounts with terms of 12 months or longer. Available in branches or via phone (1-800-999-3961).</sup>
        </p>

      </columns>
    </row>

  </container>
