---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: test-cid-test
---
  <container>
    <spacer size="30"></spacer>

    <row>
      <columns>
        <center>
          <img src="https://www.americafirst.com/content/dam/emails/birthday-email.jpg" />
        </center>

        <spacer size="45"></spacer>

        <h2>Hello {{first-name}},</h2>

        <p>Happy Birthday!</p>

        <p>
          To help celebrate your birthday we have a little something just for you.
        </p>

        <p>
          <strong>0.25% rate discount*</strong> on your next Auto, RV, or Personal Loan if funded within the next 30 days.
        </p>

        <p><strong>Or</strong></p>

        <p>
          We will help you save for something extra special by depositing the first
          <strong>$25*</strong> on your next 12-month certificate or 12-month dedicated savings if opened within the next 30 days.
        </p>

        <p>
          Thank you for your membership and <strong>HAPPY BIRTHDAY</strong>.
        </p>

        <spacer size="35"></spacer>

        <p>
          <sup>*Cannot be combined with any other offer. Must be redeemed within
            30 days of mail sending date, offer applies to one new loan or one new
            certificate product only. Offer valid at your local branch or over the
            phone. For phone assistance call 1-800-999-3961.
          </sup>
        </p>

      </columns>
    </row>

  </container>
