---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-yagdetailoffer-afcu-do-com-20171004
matching-id: 20171004105800
label-name: YAG Detail Offer
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/young-auto-group.jpg"/>
      </center>
      <spacer size="10"></spacer>

      <h2 class="text-center">Here’s another benefit of your America First membership</h2>

      <spacer size="15"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        We’re staying in touch with you now &amp; again, just to say how much
        we appreciate your America First membership.
      </p>

      <p>
        Your loyalty is important to us and as a small way of thanking you for
        choosing our auto loans, we’re pleased to let you know this email is
        good for one mini-detailing service at any Young Automotive Group dealership.
      </p>

      <p>
        Simply click the button* below to set up your appointment with Young and
        enjoy your free detail.
      </p>

      <p>
        Again, we know your options in financial services are many &amp; we’re
        pleased America First Credit Union can meet your complete needs.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="http://bit.ly/23IrPA5?cid={{cid}}">SCHEDULE NOW</button>
      </center>

      <spacer size="35"></spacer>

      <p>
        <sup>*This site is owned by the Young Automotive Group. Any contact
          information provided will be used solely to set up an appointment to
          redeem this offer.</sup>
      </p>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
