---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: cid=em-btn-attrition01-afcu-svc-r-20171214
matching-id: 20171211100900
label-name: AR01-Online Banking
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/online-banking.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        With America First as your financial partner, you have the ability to manage your money whenever and wherever you choose.
      </p>

      <p>
        And these simple &amp; convenient solutions, such as online banking, are available to you for free!
      </p>

      <p>
        That’s correct: you won’t pay a dime for online banking and its features, including:
      </p>

      <ul>
        <li>Online bill pay</li>
        <li>Online statements</li>
        <li>Financial planning tools &amp; resources</li>
        <li>Budgeting through Money Manager</li>
        <li>Custom Visa<sup>&reg;</sup> designs with Picture Perfect<sup>&trade;</sup></li>
      </ul>

      <p>
        Click below to re-discover how easy it is to make the most of your America First membership with our free online services.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/services/online-services/online-banking.html?cid={{cid}}">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
