---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-attrition02-afcu-svc-r-20171214
matching-id: 20171211102100
label-name: AR02-Mobile Banking
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/mobile-banking.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        With free online services from America First, you’ll have complete access to your finances & accounts, no matter where you are.
      </p>

      <p>
        This user-friendly app is easy to download and has a host of beneficial features, including free Card Guards<sup>&reg;</sup> mobile security.
      </p>

      <p>
        Get mobile banking on your iOS or Android device and you can:
      </p>

      <ul>
        <li>Apply for loans</li>
        <li>Transfer funds</li>
        <li>Deposit checks</li>
        <li>Pay bills</li>
        <li>Use ABC Deals<sup>&trade;</sup> on the go</li>
        <li>And more</li>
      </ul>

      <p>
        Click below to get America First banking that’s as mobile as you are!
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/services/mobile-services/mobile-banking.html?cid={{cid}}">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
