---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-attrition03-afcu-svc-r-20171214
matching-id: 20171211105100
label-name: AR03-Direct Deposit
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/direct-deposit.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        As a member of America First, you’ve earned our full range of benefits, including some convenient services that will save you time & money.
      </p>

      <p>
        Free direct deposit is a great example. It’s one of the simplest–and most secure–ways to get your paychecks and other regular installments without having to wait for the mail or your next errand run.
      </p>

      <p>
        Plus, you can set up automated debits from checking, track your funds instantly, and accomplish a whole lot more.
      </p>

      <p>
        Take a look at how free direct deposit from America First can make managing your money more convenient.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/services/other-services/direct-deposit.html?cid={{cid}}">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
