---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-cb-attrition04-afcu-svc-r-20171214
matching-id: 20171211110100
label-name: AR03-ABC Deals
---


<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/abc-deals.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Free ABC Deals<sup>&trade;</sup> from America First gives you cash back for many of the purchases you're already making:
      </p>

      <spacer size="25"></spacer>

      <row>
          <columns small="9" large="4" valign="middle">
            <img class="small-float-center" src="https://www.americafirst.com/content/dam/product/bc-abc-deals-activate.jpg">
          </columns>
          <columns small="12" large="8">
            <p class="small-text-center">
              <strong>Activate</strong> your exclusive offers by clicking the icons in your Visa<sup>®</sup> credit and checking transaction histories, or on the overview page.
            </p>
          </columns>
      </row>

      <row>
          <columns small="9" large="4">
            <img class="small-float-center" src="https://www.americafirst.com/content/dam/product/bc-abc-deals-buy.jpg">
          </columns>
          <columns small="12" large="8">
            <p class="small-text-center">
              <strong>Buy</strong> with your America First Visa.
            </p>
          </columns>
      </row>

      <row>
          <columns small="9" large="4" valign="middle">
            <img class="small-float-center" src="https://www.americafirst.com/content/dam/product/bc-abc-deals-collect.jpg">
          </columns>
          <columns small="12" large="8">
            <p class="small-text-center">
              <strong>Collect</strong> your funds, which are automatically deposited in your savings—there’s no limit to how much you can earn.
            </p>
          </columns>
      </row>

      <p>
        ABC Deals is 100% free and what you earn is in addition to any rewards or rebates you may have with your Visa credit account. Plus, it’s available on the go with free mobile banking!
      </p>

      	<p>
          Click below and get started today.
        </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/services/online-services/abc-deals.html?cid={{cid}}">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
