---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-experian_trigger_ccb-afcu-v-ac-2018313
matching-id: 20180313141000
label-name: Experian Trigger_CC-B
---

<!-- Subject: Know you're getting real value with our Visa cards  -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/experia-trigger-card.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Other credit cards may have really tempting introductory rates—but there's a catch. After just a few months, you'll see them jump dramatically, raising your payments in the process.
      </p>

      <p>
        With Visa<sup>&reg;</sup> from America First, what you see is what you get. We offer low rates, no hidden fees, and plenty of rewards.
      </p>

      <p>
        Additionally, our cards come standard with:
      </p>

      <ul>
        <li>No annual or balance-transfer fees</li>
        <li>Free identity theft recovery services</li>
        <li>Chip-enabled (EMV) fraud protection</li>
        <li>Cash-back opportunities with ABC Deals<sup>&trade;</sup></li>
        <li>Free Card Guard<sup>&reg;</sup> mobile security</li>
        <li>Free personalization</li>
        <li>Exclusive discounts &amp; offers</li>
      </ul>

      <p>
        It's easy to apply. Click below to find the America First Visa that fits.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/visa/visa-platinum-card.html?cid={{cid}}" target="_blank">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
