---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-experian_trigger_cca-afcu-v-ac-2018313
matching-id: 20180313103300
label-name: Experian Trigger_CC-A
---

<!-- Earning rewards is easy with Visa from America First  -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/experia-trigger-card.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        When it comes to credit cards, you can't beat the low rates, trustworthy service and easy approvals you get with Visa<sup>&reg;</sup>
        from America First. Plus, you can take advantage of an incentive option that meets your needs:
      </p>

      <ul>
        <li><strong>1.5% or 1% cash back</strong> - Unlimited rebates deposited in your account</li>
        <li><strong>Rewards</strong> - Earn one point for every dollar you spend</li>
        <li><strong>Low rate</strong> - The market's lowest, most competitive rates</li>
      </ul>

      <p>
        Additionally, all Visas come standard with:
      </p>

      <ul>
        <li>No annual or balance-transfer fees</li>
        <li>Free identity theft recovery services</li>
        <li>More cash-back opportunities with free ABC Deals<sup>&trade;</sup></li>
        <li>Free Card Guard<sup>&reg;</sup> mobile security</li>
        <li>Exclusive discounts & offers</li>
      </ul>

      <p>
        Click below to find the America First Visa card that fits, then apply online.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/visa/visa-platinum-card.html?cid={{cid}}" target="_blank">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
