---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-experian_trigger_ma-afcu-ln-ac-2018313
matching-id: 20180313145000
label-name: Experian Trigger_M-A
---

<!-- Subject: Take the easiest route to your new home  -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/experia-trigger-mortgage.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        Buying a new home is an exciting event. And we can help you along the way with an affordable mortgage. Whether you're
        looking for a loan with fixed or adjustable rates, America First has you covered. We even offer first mortgages with no closing costs!
      </p>

      <p>
        Visit americafirst.com today and:
      </p>

      <ul>
        <li>See our current rates</li>
        <li>Discover how much you can borrow</li>
        <li>Calculate your monthly payment</li>
        <li>Find the financing that's right for you</li>
        <li>Get preapproved online</li>
      </ul>

      <p>
        Your no-obligation review is completely free, so click below to begin your homeownership journey.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/loans/mortgage-loans/mortgage-loans.html?cid={{cid}}" target="_blank">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
