---
first-name: <%=recipient.firstName%>
layout: unscheduled-email-layout
cid: em-btn-experian_trigger_mb-afcu-ln-ac-2018313
matching-id: 20180313150300
label-name: Experian Trigger_M-B
---

<!-- Subject: Enjoy the stability of a home loan from America First -->

<container>

  <spacer size="30"></spacer>

  <row>
    <columns>
      <center>
        <img src="https://www.americafirst.com/content/dam/emails/experia-trigger-mortgage.jpg"/>
      </center>
      <spacer size="45"></spacer>

      <h2>Hello {{first-name}},</h2>

      <p>
        If your mortgage has ever been sold by one national lender to another, then you know how frustrating this sudden
        change can be. At America First, we service our low-rate home loans, which means we'll be here to help you manage
        this important investment as long as you have it with us.
      </p>

      <p>
        Visit americafirst.com today and:
      </p>

      <ul>
        <li>See our current rates</li>
        <li>Discover how much you can borrow</li>
        <li>Calculate your monthly payment</li>
        <li>Find the financing that's right for you</li>
        <li>Get preapproved online</li>
      </ul>

      <p>
        Your no-obligation review is completely free, so click below to learn more.
      </p>

      <spacer size="35"></spacer>

      <center>
        <button class="success radius" href="https://www.americafirst.com/loans/mortgage-loans/mortgage-loans.html?cid={{cid}}" target="_blank">LEARN MORE</button>
      </center>

      <spacer size="35"></spacer>

      <!-- rpcampaign: afcu{{matching-id}} --> <!-- ReturnPath Matching ID-->
      <img src="https://pixel.app.returnpath.net/pixel.gif?r=b188cf2070d27a7f21db47ba0113938eef080e68&c={{cid}}" width="1" height="1"/> <!--ReturnPath Engagement and Location Pixel-->

    </columns>
  </row>

</container>
