<section class="footer" id="footer-section">
  <div class="container-fluid">
    <div class="row footer-alignment">
      <div class="col-md-4">
        <div style="border-bottom: 2px solid #01AEF0;">
          <h4><i class="icon-bullhorn" style="margin-right: 10px;"></i>LATEST NEWS</h4>
        </div>
        <ul class="list-unstyled news-events-list">
          <li><a href="https://news.americafirst.com/difference-credit-debit-cards/">The Difference Between Credit and Debit Cards</a> <small>Jun 2, 2017 - Financial Education</small></li>
          <li><a href="https://news.americafirst.com/home-equity-loans-quick-easy-america-first/">Home Equity Loans are Quick and Easy at America First</a> <small>Jun 1, 2017 - Promotions</small></li>
          <li><a href="https://news.americafirst.com/security-update-dont-let-virtual-guard-summer/">Security Update: Don&rsquo;t Let your Virtual Guard Down this Summer</a> <small>Jun 1, 2017 - Security</small></li>
          <li><a href="https://news.americafirst.com/cherish-great-people-great-times-great-memories/">Cherish Great People, Great Times and Great Memories</a> <small>Jun 1, 2017 - President's Message</small></li>
          <li><a href="https://news.americafirst.com/get-rv-loans-america-first-get-lowest-rates/">Get RV Loans from America First &amp; Get the Lowest Rates</a> <small>Jun 1, 2017 - Promotions</small></li>
          <li><a href="https://news.americafirst.com/">More news&hellip;</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div style="border-bottom: 2px solid #01AEF0;">
          <h4><i class="icon-calendar" style="margin-right: 10px;"></i>UPCOMING EVENTS</h4>
        </div>
        <ul class="list-unstyled news-events-list">
          <li><a href="https://news.americafirst.com/calendar-events/make-social-security-seminar-5/">How to Make the Most of Your Social Security Seminar</a> <small>Jun 8, 2017</small></li>
          <li><a href="https://news.americafirst.com/calendar-events/shred-day-8/">Shred Day- Cedar City Lin's Branch</a> <small>Jun 10, 2017</small></li>
          <li><a href="https://news.americafirst.com/calendar-events/shred-day-6/">Shred Day- Cottonwood Heights Branch</a> <small>Jun 10, 2017</small></li>
          <li><a href="https://news.americafirst.com/calendar-events/shred-day-9/">Shred Day- Henderson Branch</a> <small>Jun 10, 2017</small></li>
          <li><a href="https://news.americafirst.com/calendar-events/shred-day-7/">Shred Day- Kearns Branch</a> <small>Jun 10, 2017</small></li>
          <li><a href="https://news.americafirst.com/calendar-events/">More events&hellip;</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div style="border-bottom: 2px solid #01AEF0;">
          <h4><i class="icon-info" style="margin-right: 10px;"></i>INFORMATION</h4>
        </div>
        <address style="padding: 8px 0; color: #fff;">America First Credit Union<br /> PO Box 9199<br /> Ogden, Utah 84409<br /> <a href="tel:1-800-999-3961">1-800-999-3961</a></address>
        <ul>
          <li>Routing &amp; Transit Number:</li>
          <li><strong>324377516</strong></li>
        </ul>
        <br />
        <ul>
          <li>Start your career at America First</li>
          <li class="btn btn-afcu-blue">VIEW CURRENT OPENINGS</li>
        </ul>
      </div>
    </div>
    <div class="row footer-alignment" style="padding: 30px 0px;">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="lazerz"></div>
        <img class="nlui-widget" style="padding: 0px 20px;" alt="America First White Logo" src="https://assets.americafirst.com/images/general/eagle-inverse.png" unselectable="on" />
        <div class="lazerz"></div>
      </div>
    </div>
    <div class="row footer-alignment">
      <div class="col-md-2 col-sm-2 text-center"><a title="Equal Housing Lender" class="external-link" href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp" data-toggle="tooltip"><img class="nlui-widget" alt="Equal Housing Lender" src="https://assets.americafirst.com/images/ehl-2.png" unselectable="on" /></a>          &nbsp;&nbsp; <a title="Your savings federally insured to at least $250,000 and backed by the full faith and credit of the United States Government. National Credit Union Administration, a U.S. Government Agency" class="external-link" href="https://www.ncua.gov/services/pages/share-insurance.aspx"
          data-toggle="tooltip"><img class="nlui-widget" alt="NCUA" src="https://assets.americafirst.com/images/ncua-2.png" unselectable="on" /></a></div>
      <div class="col-md-10 col-sm-10">
        <p style="color: #ccc; text-align: justify; font-size: 75%;">&copy;2017 America First Credit Union. All Rights Reserved. America First Federal Credit Union does business as (DBA) America First Credit Union. Unauthorized account access or use is not permitted and may constitute a crime punishable by law.
          America First Credit Union respects your privacy. Please view our <a href="/documents/privacy-policy.pdf">Privacy Policy</a> and <a href="/documents/marketing-email-opt-out.pdf">Email Opt Out Procedure</a>. This credit union is federally insured
          by the National Credit Union Administration.</p>
      </div>
    </div>
  </div>
</section>
